/* about_page style start */
.about_page {
  background: #f9f9ff;
  padding: 10.5rem 0 5rem;
}
.about_page .section_heading {
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 0 auto 4rem;
}
.about_page .section_heading h1 {
  font-weight: 600;
  color: #333b40;
}
.about_page .section_heading p {
  color: #788994;
}
.about_page .our_story h2 {
  margin: 50px 0 20px;
  font-weight: 700;
}
.about_page .our_story .image img {
  width: 100%;
}
.about_page .our_mission {
  padding-top: 80px;
}
.about_page .our_mission h2 {
  margin: 50px 0 20px;
  font-weight: 700;
}
.about_page .our_mission .image img {
  width: 100%;
}
.about_page .our_vision {
  padding-top: 80px;
}
.about_page .our_vision h2 {
  margin: 50px 0 20px;
  font-weight: 700;
  text-align: center;
}
.about_page .our_vision p {
  text-align: center;
}
.about_page .our_vision .image img {
  width: 100%;
}
.about_page .our_values {
  padding-top: 80px;
}
.about_page .our_values h2 {
  margin: 50px 0 30px;
  font-weight: 700;
  text-align: center;
}
.about_page .our_values h5 {
  font-weight: 700;
  margin-top: 30px;
}
.about_page .our_values h5 span {
  color: #ccc;
  margin-right: 5px;
}
.about_page .our_values p {
  padding-left: 33px;
}

@media screen and (max-width: 767px) {
  .about_page .our_story h2 {
    margin-top: 0;
  }
  .about_page .our_vision h2 {
    margin-top: 0;
  }
  .about_page .our_values h2 {
    margin-top: 0;
  }
}
/* about_page style end */

/*# sourceMappingURL=about_page.css.map */
