/* blog_post_section start */
.blog_post_section .left_info .content {
  margin-top: 50px;
}
.blog_post_section .left_info .content .image {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.blog_post_section .left_info .content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.blog_post_section .left_info .content p {
  margin-bottom: 10px;
}
.blog_post_section .left_info .content .share_area li a {
  color: #333b40;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(51, 59, 64, 0.2);
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
}
.blog_post_section .left_info_show {
  opacity: 1;
}
.blog_post_section .blog_content h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  letter-spacing: -2px;
  border-bottom: 1px solid #dbdbdb;
  font-family: "Open Sans", sans-serif;
}
.blog_post_section .blog_content h2 {
  font-size: 32px;
  line-height: 42px;
  font-family: "Open Sans", sans-serif;
}
.blog_post_section .blog_content h3 {
  font-size: 26px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
}
.blog_post_section .blog_content h4 {
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
}
.blog_post_section .blog_content p {
  margin-bottom: 30px;
  font-size: 19px;
}
.blog_post_section .blog_content a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}
.blog_post_section .blog_content a:hover {
  color: #03a87c;
}
.blog_post_section .blog_content pre {
  font-family: "Menlo", monospace;
  font-size: 15px;
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
}
.blog_post_section .blog_content blockquote {
  display: block;
  padding-left: 20px;
  border-left: 6px solid #df0d32;
  margin-left: -15px;
  padding-left: 15px;
  font-style: italic;
  color: #555;
}
.blog_post_section .blog_content img {
  margin: 30px auto;
  display: block;
}
.blog_post_section .blog_content audio {
  width: 100%;
  filter: contrast(115%);
  border: 1px solid rgba(51, 59, 64, 0.1);
  outline: 0;
}
.blog_post_section .blog_content .publish_time span {
  font-size: 14px;
  position: relative;
}
.blog_post_section .blog_content .publish_time span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: rgba(51, 59, 64, 0.2);
}
.blog_post_section .blog_content .blog_footer .tag {
  width: 100%;
}
.blog_post_section .blog_content .blog_footer .tag li {
  display: inline-block;
}
.blog_post_section .blog_content .blog_footer .tag li a {
  border: 1px solid rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  display: block;
  padding: 5px 10px;
  font-size: 13px;
  text-decoration: none;
  color: #333b40;
  margin: 0 2px 7px;
}
.blog_post_section .blog_content .blog_footer .like a {
  border: 1px solid rgba(51, 59, 64, 0.2);
  border-radius: 50%;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  font-size: 30px;
  text-align: center;
  color: #333b40;
}
.blog_post_section .blog_content .blog_footer .writter .image {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.blog_post_section .blog_content .blog_footer .writter .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.blog_post_section .blog_content .blog_footer .writter .info .top {
  font-size: 13px;
  margin-bottom: 0;
}
.blog_post_section .blog_content .blog_footer .writter .info .heading {
  font-size: 24px;
  color: #333b40;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.blog_post_section .blog_content .blog_footer .writter .info p {
  font-size: 15px;
}
.blog_post_section .blog_content .blog_footer .see_response {
  border: 1px solid rgba(51, 59, 64, 0.2);
  display: block;
  width: 100%;
  padding: 20px 10px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  color: #333b40;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .blog_section .left_info .content {
    margin: 0;
  }
  .blog_section .left_info .content .share_area {
    display: none;
  }
}
/* blog_post_section end */

/*# sourceMappingURL=blog_post_page.css.map */
