/* blog_write_section start */
.blog_write_section h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
  letter-spacing: -2px;
  border-bottom: 1px solid #dbdbdb;
  font-family: "Open Sans", sans-serif;
}
.blog_write_section h2 {
  font-size: 32px;
  line-height: 42px;
  font-family: "Open Sans", sans-serif;
}
.blog_write_section h3 {
  font-size: 26px;
  line-height: 32px;
  font-family: "Open Sans", sans-serif;
}
.blog_write_section h4 {
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
}
.blog_write_section p {
  margin-bottom: 30px;
  font-size: 19px;
}
.blog_write_section a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}
.blog_write_section a:hover {
  color: #03a87c;
}
.blog_write_section pre {
  font-family: "Menlo", monospace;
  font-size: 15px;
  background-color: #f0f0f0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #666;
}
.blog_write_section blockquote {
  display: block;
  padding-left: 20px;
  border-left: 6px solid #df0d32;
  margin-left: -15px;
  padding-left: 15px;
  font-style: italic;
  color: #555;
}
.blog_write_section img {
  margin: 30px auto;
  display: block;
}
.blog_write_section .editable,
.blog_write_section .secondEditable {
  outline: none;
  margin: 0;
  padding: 0 10px 20px;
}
.blog_write_section .medium-editor-toolbar {
  z-index: 9999;
}
.blog_write_section .add_visual_content {
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}
.blog_write_section .add_visual_content .image_upload input, .blog_write_section .add_visual_content .video_upload input {
  display: none;
}
.blog_write_section .add_visual_content li {
  display: inline-block;
}
.blog_write_section .add_visual_content li label {
  display: block;
  border: 1px solid rgba(51, 59, 64, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.blog_write_section .add_visual_content li label i {
  font-size: 30px;
}

.modal p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.modal input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(51, 59, 64, 0.2);
  margin-bottom: 10px;
}
.modal textarea {
  width: 100%;
  padding: 5px;
  outline: 0;
  border-radius: 4px;
  border: 1px solid rgba(51, 59, 64, 0.2);
  margin-bottom: 10px;
}

.drag {
  background: #ffffff;
  box-shadow: 0 0 3px 1px rgba(51, 59, 64, 0.1);
  border-right: 0;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: fixed;
  top: 155px;
  right: 0;
  width: 300px;
}
.drag .head_text {
  text-align: center;
  background: #edeff3;
  padding: 8px;
  font-weight: 700;
}
.drag h5 {
  padding: 5px 5px 0;
  margin-bottom: 5px;
  text-align: center;
}
.drag a {
  background: #f9f9ff;
  color: #333b40;
  display: block;
  width: 110px;
  padding: 4px;
  text-align: center;
  border-radius: 23px;
  border: 1px solid rgba(51, 59, 64, 0.1);
  margin: 10px auto;
  text-decoration: none;
  transition: all 0.2s;
}
.drag a:hover {
  box-shadow: 0px 1px 6px 1px rgba(51, 59, 64, 0.1);
}

@media screen and (max-width: 992px) {
  .drag {
    display: none;
  }
}
/* blog_write_section end */

/*# sourceMappingURL=blog_write_page.css.map */
