/* blog_section start */
.blog_section {
  padding-top: 80px;
}
.blog_section .top_search {
  background: #DDDAEA;
  padding: 8px;
  margin-bottom: 20px;
}
.blog_section .top_search .button {
  width: 100%;
  background: #03a87c;
  color: #ffffff;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}
.blog_section .top_search .button i {
  margin-left: 10px;
}
.blog_section .top_search .serach input {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  padding: 0 5px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}
.blog_section .top_search .view_trigger {
  display: flex;
}
.blog_section .top_search .view_trigger a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  margin: 0 1px;
  border-radius: 4px;
}
.blog_section .bookmark #filterToggle {
  display: none;
}
.blog_section .bookmark .content {
  position: relative;
  padding: 15px 10px;
  display: block;
  color: #333b40;
  text-decoration: none;
  box-shadow: 0 0 8px 2px rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
.blog_section .bookmark .content h6 {
  font-weight: bold;
  font-size: 14px;
}
.blog_section .bookmark .content p {
  font-size: 14px;
  margin: 0;
}
.blog_section .bookmark .content .bookmark_icon {
  position: absolute;
  right: 5px;
  top: -8px;
  font-size: 30px;
}
.blog_section .bookmark .more_button {
  display: block;
  width: 100%;
  color: #333b40;
  text-decoration: none;
  box-shadow: 0 0 8px 2px rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}
.blog_section .blog_content_area .item {
  display: block;
  text-decoration: none;
  color: #333b40;
  box-shadow: 0 0 8px 2px rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.blog_section .blog_content_area .item .time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(51, 59, 64, 0.9), rgba(51, 59, 64, 0));
}
.blog_section .blog_content_area .item .time span {
  float: right;
  display: block;
  padding: 5px 15px;
  color: #ffffff;
  font-size: 14px;
}
.blog_section .blog_content_area .item figure {
  margin: 0;
  height: 200px;
  width: 100%;
}
.blog_section .blog_content_area .item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_section .blog_content_area .item article {
  padding: 15px 10px;
}
.blog_section .blog_content_area .item article h6 {
  font-weight: bold;
  font-size: 14px;
}
.blog_section .blog_content_area .item article p {
  font-size: 14px;
  margin: 0;
}
.blog_section .blog_content_area .list_view .item {
  display: flex;
  align-items: center;
}
.blog_section .blog_content_area .list_view .item .time {
  background: none;
}
.blog_section .blog_content_area .list_view .item .time span {
  color: #333b40;
}
.blog_section .blog_content_area .list_view .item figure {
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 992px) {
  .blog_section .top_search .button i {
    display: none;
  }
  .blog_section .bookmark #filterToggle {
    display: block;
    margin-bottom: 20px;
  }
  .blog_section .bookmark #filter-box {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .blog_section .top_search .view_trigger {
    display: none;
  }
  .blog_section .blog_content_area .item {
    display: flex;
    align-items: center;
  }
  .blog_section .blog_content_area .item .time {
    background: none;
  }
  .blog_section .blog_content_area .item .time span {
    color: #333b40;
  }
  .blog_section .blog_content_area .item figure {
    width: 200px;
    height: 150px;
  }
}
/* blog_section end */

/*# sourceMappingURL=blog_page.css.map */
