/* contact style start */
.contact {
  background: linear-gradient(to right, #03a87c 50%, #333b40 50%);
  padding: 10.5rem 0 5rem;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* active state */
  /* ANIMATIONS ================ */
  /* form style end */
}
.contact .heading {
  color: #ffffff;
  padding-bottom: 3rem;
}
.contact .heading h2 {
  font-weight: bold;
}
.contact address {
  color: #ffffff;
}
.contact address i {
  margin-right: 10px;
}
.contact address a {
  color: #ffffff;
}
.contact .social ul {
  list-style-type: none;
}
.contact .social ul li {
  display: inline-block;
}
.contact .social ul li a {
  font-size: 28px;
  margin: 10px 15px 10px 0;
  color: #ffffff;
  transition: all 0.3s;
}
.contact .social ul li a:hover {
  color: #cccccc;
}
.contact button {
  background: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
}
.contact button:hover {
  color: #333b40;
  background: #ffffff;
}
.contact .group {
  position: relative;
  margin-bottom: 30px;
}
.contact input, .contact textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  border-bottom: 1px solid #95a2aa;
}
.contact input:focus, .contact textarea:focus {
  outline: none;
}
.contact label {
  color: #95a2aa;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.contact input:focus ~ label, .contact input:valid ~ label, .contact textarea:focus ~ label, .contact textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
}
.contact .bar {
  position: relative;
  display: block;
  width: 100%;
}
.contact .bar:before, .contact .bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.contact .bar:before {
  left: 50%;
}
.contact .bar:after {
  right: 50%;
}
.contact input:focus ~ .bar:before, .contact input:focus ~ .bar:after, .contact textarea:focus ~ .bar:before, .contact textarea:focus ~ .bar:after {
  width: 50%;
}
.contact input:focus ~ .highlight, .contact textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media screen and (max-width: 992px) {
  .contact {
    background: #03a87c;
  }
  .contact label {
    color: #ddd;
  }
  .contact input, .contact textarea {
    border-color: #ddd;
  }
}
/* contact style end */

/*# sourceMappingURL=contact.css.map */
