/* cookie_page style start */
.cookie_page {
  background: #f9f9ff;
  padding: 10.5rem 0 5rem;
}
.cookie_page .section_heading {
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 0 auto 4rem;
}
.cookie_page .section_heading h1 {
  font-weight: 600;
  color: #333b40;
}
.cookie_page .section_heading p {
  color: #788994;
}
.cookie_page .main_area li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
}

/* cookie_page style end */

/*# sourceMappingURL=cookie_page.css.map */
