/* design_page start */
.design_page {
  background: #f9f9ff;
  min-height: 100vh;
  height: 100%;
}
.design_page .design_aside_area {
  margin-bottom: 20px;
}
.design_page .design_aside_area #design_asideToggle {
  display: none;
  font-size: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 48px;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  border: 0;
  outline: 0;
}
.design_page .design_aside_area #design_aside .nav-pills .nav-link {
  text-align: center;
  border: 1px solid rgba(51, 59, 64, 0.1);
  color: #333b40;
  background: #ffffff;
  font-weight: 600;
  width: 100%;
  padding: 12px 0;
}
.design_page .design_aside_area #design_aside .nav-pills .nav-link img {
  display: block;
  margin: 0 auto;
}
.design_page .design_aside_area #design_aside .nav-pills .nav-link span {
  display: block;
  font-size: 14px;
}
.design_page .design_aside_area #design_aside .nav-pills .nav-link.active, .design_page .design_aside_area #design_aside .nav-pills .show > .nav-link {
  color: #ffffff;
  background: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active {
  border: 1px solid rgba(51, 59, 64, 0.1);
  border-radius: 4px;
  position: relative;
  background: #ffffff;
}
.design_page .design_aside_area #design_aside .tab-content > .active .content_list {
  margin-bottom: 0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .content_list .top_title {
  width: 100%;
  background: #edeff3;
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  font-weight: 600;
  font-size: 14px;
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .content_list li a {
  display: block;
  border-bottom: 1px solid rgba(51, 59, 64, 0.1);
  padding: 8px 15px 5px;
  color: #333b40;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.1s;
}
.design_page .design_aside_area #design_aside .tab-content > .active .content_list li a:hover {
  background: #03a87c;
  color: #ffffff;
}
.design_page .design_aside_area #design_aside .tab-content > .active .content_list li .active {
  background: #03a87c;
  color: #ffffff;
}
.design_page .design_aside_area #design_aside .tab-content > .active .name_area {
  padding: 10px 15px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .name_area span {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .name_area input {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 8px 2px rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  margin: 20px 0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .card-header {
  padding: 0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .card-header button {
  color: #03a87c;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .card-header button i {
  margin-right: 10px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_trigger {
  margin-bottom: 0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_trigger li span {
  color: #333b40;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_trigger li span:hover {
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color p {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li {
  display: inline-block;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li span {
  display: block;
  height: 25px;
  width: 20px;
  text-decoration: none;
  margin-right: 2px;
  border-radius: 2px;
  transition: all 0.1s;
  cursor: pointer;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li span:hover {
  opacity: 0.5;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #green {
  background: #2ACBA4;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #blue {
  background: #2879B8;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #orange {
  background: #F27B21;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #red {
  background: #EF3936;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #yellow {
  background: #F8EF26;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #lime {
  background: #A3CD3B;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #turquoise {
  background: #14ADAA;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #pink {
  background: #F499C2;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #magenta {
  background: #D0256B;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #purple {
  background: #613E98;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #cream {
  background: #F1D69F;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #chocolate {
  background: #513422;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #silver {
  background: #A9B4BA;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .theme_color li #cobalt {
  background: #183159;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color {
  margin-bottom: 0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color p {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color li {
  display: inline-block;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color li span {
  display: block;
  height: 25px;
  width: 20px;
  text-decoration: none;
  margin-right: 2px;
  border-radius: 2px;
  transition: all 0.1s;
  cursor: pointer;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color li span:hover {
  opacity: 0.5;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color li #text_light {
  background: #f0f0f0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .text_color li #text_dark {
  background: #333b40;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .btn_position_trigger {
  margin-bottom: 0;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .btn_position_trigger li span {
  color: #333b40;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
}
.design_page .design_aside_area #design_aside .tab-content > .active .design_area .btn_position_trigger li span:hover {
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .generate_area {
  padding: 10px 15px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .generate_area span {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .generate_area textarea {
  width: 100%;
  padding: 0 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 8px 2px rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  margin: 20px 0;
  font-size: 14px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .publish_area {
  padding: 10px 15px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .publish_area span {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .publish_area textarea {
  width: 100%;
  padding: 5px;
  border: 0;
  outline: 0;
  box-shadow: 0 0 8px 2px rgba(51, 59, 64, 0.2);
  border-radius: 4px;
  margin: 20px 0;
  font-size: 14px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .reset_area {
  padding: 10px 15px;
}
.design_page .design_aside_area #design_aside .tab-content > .active .reset_area span {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #03a87c;
}
.design_page .design_aside_area #design_aside .tab-content > .active .reset_area button {
  margin-top: 20px;
  padding: 5px 10px 3px;
}
.design_page .tutorial_area {
  background: #edeff3;
  padding: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(51, 59, 64, 0.1);
  border-radius: 2px;
}
.design_page .tutorial_area .content {
  text-align: center;
  font-size: 20px;
  width: 100%;
}
.design_page .design_view_area {
  border: 1px solid rgba(51, 59, 64, 0.1);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  min-height: calc(100vh - 160px);
  height: 100%;
}
.design_page .design_view_area .badge {
  position: absolute;
  top: 150px;
  left: 0;
  padding: 0;
}
.design_page .design_view_area .badge img {
  width: 100%;
  height: 100%;
}
.design_page .design_view_area .header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 6px 1px rgba(51, 59, 64, 0.1);
  margin-bottom: 20px;
}
.design_page .design_view_area .header .nav_bottom {
  background: #ffffff;
}
.design_page .design_view_area .header .nav_bottom .navbar-toggler {
  color: #333b40;
  outline: 0;
}
.design_page .design_view_area .header .nav_bottom .navbar-brand {
  max-width: 80px;
}
.design_page .design_view_area .header .nav_bottom .navbar-brand img {
  width: 100%;
}
.design_page .design_view_area .header .nav_bottom .navbar-nav {
  position: relative;
}
.design_page .design_view_area .header .nav_bottom .nav-link {
  margin: 0 8px;
  color: #333b40;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
.design_page .design_view_area .header .nav_bottom .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: rgba(51, 59, 64, 0.2);
  transition: all 0.3s;
}
.design_page .design_view_area .header .nav_bottom .nav-link:hover::before {
  width: 100%;
}
.design_page .design_view_area .header .nav_bottom .subscribe {
  position: absolute;
  right: 0;
  top: 0;
}
.design_page .design_view_area .main_area {
  padding: 0 100px;
}
.design_page .design_view_area .main_area article {
  margin-bottom: 15px;
  font-size: 14px;
}
.design_page .design_view_area .main_area .email_collector .padding {
  padding: 15px 15px 10px !important;
}
.design_page .design_view_area .main_area .email_collector h2 {
  font-size: 24px !important;
}
.design_page .design_view_area .main_area .email_collector h3 {
  font-size: 24px !important;
}
.design_page .design_view_area .main_area .email_collector .theme_03 h3 {
  font-size: 21px !important;
}
.design_page .design_view_area .main_area .email_collector h4 {
  font-size: 14px !important;
}
.design_page .design_view_area .main_area .email_collector p {
  font-size: 14px !important;
}
.design_page .design_view_area .main_area .email_collector form .form-group {
  margin-bottom: 16px;
}
.design_page .design_view_area .main_area .email_collector form input {
  font-size: 12px;
  height: 30px;
}
.design_page .design_view_area .main_area .email_collector form button {
  font-size: 12px;
  height: 23px;
}
.design_page .design_view_area .feedback .right_feedback {
  position: absolute;
}
.design_page .design_view_area .feedback .right_feedback_content {
  position: absolute;
}
.design_page .design_view_area .feedback .right_feedback_content .header {
  background: linear-gradient(to right, #1B7863, #05A57B);
  margin-bottom: 0;
}
.design_page .design_view_area .message_section .message {
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.design_page .design_view_area .message_section .message_content {
  position: absolute;
  bottom: -100%;
}
.design_page .design_view_area .message_section .message_content .header {
  background: linear-gradient(to right, #25665A, #06A279);
  margin-bottom: 0;
}
.design_page .design_view_area .message_section .message_content .chat_box {
  height: 300px;
}
.design_page .design_view_area .message_section .message_content_show {
  bottom: 15px;
}
.design_page .design_view_area .feedback_bottom {
  position: absolute;
  left: 10px;
  bottom: -100%;
}
.design_page .design_view_area .feedback_bottom .header {
  background: linear-gradient(to right, #25665A, #06A279);
  margin-bottom: 0;
}
.design_page .design_view_area .feedback_bottom_show {
  bottom: 15px;
}

.design_aside_area_button {
  background: #03a87c;
  color: #ffffff;
  border: 0;
  outline: 0;
  padding: 5px 30px 3px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .design_page .design_aside_area #design_asideToggle {
    display: block;
    margin-bottom: 20px;
  }
  .design_page .design_aside_area #design_aside {
    display: none;
  }
  .design_page .tutorial_area {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .design_page .design_view_area .main_area {
    padding: 0 30px;
  }
}
/* design_page end */
.design_view_area_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-open .modal {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.modal-backdrop {
  display: none;
}

.modal-backdrop.in {
  opacity: 0;
}

.modal {
  position: relative;
}

/*# sourceMappingURL=design.css.map */
