/* color area start  */
/* text_dark */
.e_text_dark .background h2 {
  color: #333b40 !important;
}
.e_text_dark .background h4 {
  color: #333b40 !important;
}
.e_text_dark .background input {
  color: #333b40 !important;
}
.e_text_dark .background input::placeholder {
  color: #333b40 !important;
}
.e_text_dark .background button {
  color: #333b40 !important;
}

/* text_dark */
.e_text_light .background h2 {
  color: #ffffff !important;
}
.e_text_light .background h4 {
  color: #ffffff !important;
}
.e_text_light .background input {
  color: #ffffff !important;
}
.e_text_light .background input::placeholder {
  color: #ffffff !important;
}
.e_text_light .background button {
  color: #ffffff !important;
}

/* green */
.e_green .background {
  background: #2ACBA4 !important;
}
.e_green button {
  background: #2ACBA4 !important;
}
.e_green h3 {
  color: #2ACBA4 !important;
}

/* blue */
.e_blue .background {
  background: #2879B8 !important;
}
.e_blue button {
  background: #2879B8 !important;
}
.e_blue h3 {
  color: #2879B8 !important;
}

/* orange */
.e_orange .background {
  background: #F27B21 !important;
}
.e_orange button {
  background: #F27B21 !important;
}
.e_orange h3 {
  color: #F27B21 !important;
}

/* red */
.e_red .background {
  background: #EF3936 !important;
}
.e_red button {
  background: #EF3936 !important;
}
.e_red h3 {
  color: #EF3936 !important;
}

/* yellow */
.e_yellow .background {
  background: #F8EF26 !important;
}
.e_yellow button {
  background: #F8EF26 !important;
}
.e_yellow h3 {
  color: #F8EF26 !important;
}

/* lime */
.e_lime .background {
  background: #A3CD3B !important;
}
.e_lime button {
  background: #A3CD3B !important;
}
.e_lime h3 {
  color: #A3CD3B !important;
}

/* turquoise */
.e_turquoise .background {
  background: #14ADAA !important;
}
.e_turquoise button {
  background: #14ADAA !important;
}
.e_turquoise h3 {
  color: #14ADAA !important;
}

/* pink */
.e_pink .background {
  background: #F499C2 !important;
}
.e_pink button {
  background: #F499C2 !important;
}
.e_pink h3 {
  color: #F499C2 !important;
}

/* magenta */
.e_magenta .background {
  background: #D0256B !important;
}
.e_magenta button {
  background: #D0256B !important;
}
.e_magenta h3 {
  color: #D0256B !important;
}

/* purple */
.e_purple .background {
  background: #613E98 !important;
}
.e_purple button {
  background: #613E98 !important;
}
.e_purple h3 {
  color: #613E98 !important;
}

/* cream */
.e_cream .background {
  background: #F1D69F !important;
}
.e_cream button {
  background: #F1D69F !important;
}
.e_cream h3 {
  color: #F1D69F !important;
}

/* chocolate */
.e_chocolate .background {
  background: #513422 !important;
}
.e_chocolate button {
  background: #513422 !important;
}
.e_chocolate h3 {
  color: #513422 !important;
}

/* silver */
.e_silver .background {
  background: #A9B4BA !important;
}
.e_silver button {
  background: #A9B4BA !important;
}
.e_silver h3 {
  color: #A9B4BA !important;
}

/* cobalt */
.e_cobalt .background {
  background: #183159 !important;
}
.e_cobalt button {
  background: #183159 !important;
}
.e_cobalt h3 {
  color: #183159 !important;
}

/* color area end */
/* email_collector start */
.email_collector {
  margin-bottom: 30px;
}
.email_collector .theme_01 {
  background: linear-gradient(to right, #1E7361, #04A57A);
}
.email_collector .theme_01 .padding {
  padding: 30px;
}
.email_collector .theme_01 h2 {
  font-weight: 700;
  font-size: 28px !important;
  text-align: center;
  font-family: "Spectral", serif !important;
}
.email_collector .theme_01 h4 {
  font-size: 18px !important;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Spectral", serif !important;
}
.email_collector .theme_01 input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  padding: 0 15px;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  background: none;
}
.email_collector .theme_01 .background button {
  width: 100px;
  height: 30px;
  display: block;
  font-weight: 700;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 auto;
  background: none;
}
.email_collector .theme_01 .background button:hover {
  transform: scale(0.95);
}
.email_collector .theme_02 {
  background: #fff;
  box-shadow: 0 0 9px 1px rgba(51, 59, 64, 0.1);
}
.email_collector .theme_02 .padding {
  padding: 30px;
}
.email_collector .theme_02 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.email_collector .theme_02 .image img {
  max-width: 250px;
  width: 100%;
}
.email_collector .theme_02 h3 {
  font-weight: 700;
  font-size: 28px !important;
  font-family: "Spectral", serif !important;
  margin-bottom: 10px;
}
.email_collector .theme_02 h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #95a2aa;
}
.email_collector .theme_02 p {
  font-size: 16px !important;
  margin-bottom: 7px !important;
}
.email_collector .theme_02 .form-group {
  margin-bottom: 30px;
}
.email_collector .theme_02 input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  padding: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #95a2aa;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  background: none;
  color: #606f79;
}
.email_collector .theme_02 input::placeholder {
  color: #606f79;
}
.email_collector .theme_02 button {
  width: 100px;
  height: 40px;
  display: block;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
}
.email_collector .theme_02 button:hover {
  transform: scale(0.95);
}
.email_collector .theme_03 {
  background: #F8F9FC;
}
.email_collector .theme_03 .padding {
  padding: 30px;
}
.email_collector .theme_03 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.email_collector .theme_03 .image img {
  max-width: 150px;
  width: 100%;
}
.email_collector .theme_03 h3 {
  font-weight: 700;
  font-size: 27px !important;
  font-family: "Spectral", serif !important;
  margin-bottom: 25px;
}
.email_collector .theme_03 p {
  font-size: 16px !important;
  margin-bottom: 7px !important;
}
.email_collector .theme_03 .form-group {
  margin-bottom: 30px;
}
.email_collector .theme_03 input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  padding: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #95a2aa;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  background: none;
  color: #606f79;
}
.email_collector .theme_03 input::placeholder {
  color: #95a2aa;
}
.email_collector .theme_03 button {
  width: 100px;
  height: 40px;
  display: block;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
}
.email_collector .theme_03 button:hover {
  transform: scale(0.95);
}
.email_collector .theme_04 {
  background: #fff;
  box-shadow: 0 0 9px 1px rgba(51, 59, 64, 0.1);
}
.email_collector .theme_04 .padding {
  padding: 30px;
}
.email_collector .theme_04 .image_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../images/email_collector/bg_1.png);
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.email_collector .theme_04 .image_area .image {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
}
.email_collector .theme_04 .image_area .image img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.email_collector .theme_04 h3 {
  font-weight: 700;
  font-size: 28px !important;
  font-family: "Spectral", serif !important;
  margin-bottom: 10px;
}
.email_collector .theme_04 h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #95a2aa;
}
.email_collector .theme_04 p {
  font-size: 16px !important;
  margin-bottom: 7px !important;
}
.email_collector .theme_04 .form-group {
  margin-bottom: 30px;
}
.email_collector .theme_04 input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  padding: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #95a2aa;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  background: none;
  color: #606f79;
}
.email_collector .theme_04 input::placeholder {
  color: #95a2aa;
}
.email_collector .theme_04 button {
  width: 100px;
  height: 40px;
  display: block;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
}
.email_collector .theme_04 button:hover {
  transform: scale(0.95);
}
.email_collector .theme_05 {
  background: #333b40;
}
.email_collector .theme_05 .padding {
  padding: 30px;
}
.email_collector .theme_05 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.email_collector .theme_05 .image img {
  max-width: 250px;
  width: 100%;
}
.email_collector .theme_05 h3 {
  font-weight: 700;
  font-size: 28px !important;
  font-family: "Spectral", serif !important;
  margin-bottom: 10px;
}
.email_collector .theme_05 h6 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #cdd4d8;
}
.email_collector .theme_05 p {
  font-size: 16px !important;
  margin-bottom: 7px !important;
  color: #b1bbc1;
}
.email_collector .theme_05 .form-group {
  margin-bottom: 30px;
}
.email_collector .theme_05 input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  padding: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #cdd4d8;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  background: none;
  color: #cdd4d8;
}
.email_collector .theme_05 input::placeholder {
  color: #cdd4d8;
}
.email_collector .theme_05 button {
  width: 100px;
  height: 40px;
  display: block;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
}
.email_collector .theme_05 button:hover {
  transform: scale(0.95);
}
.email_collector .theme_06 {
  background: #333b40;
}
.email_collector .theme_06 .padding {
  padding: 30px;
}
.email_collector .theme_06 .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.email_collector .theme_06 .image img {
  max-width: 150px;
  width: 100%;
}
.email_collector .theme_06 h3 {
  font-weight: 700;
  font-size: 27px !important;
  font-family: "Spectral", serif !important;
  margin-bottom: 25px;
}
.email_collector .theme_06 p {
  font-size: 16px !important;
  margin-bottom: 7px !important;
  color: #b1bbc1;
}
.email_collector .theme_06 .form-group {
  margin-bottom: 30px;
}
.email_collector .theme_06 input {
  max-width: 350px;
  width: 100%;
  height: 35px;
  padding: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #cdd4d8;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  background: none;
  color: #cdd4d8;
}
.email_collector .theme_06 input::placeholder {
  color: #cdd4d8;
}
.email_collector .theme_06 button {
  width: 100px;
  height: 40px;
  display: block;
  font-weight: 700;
  border: 0;
  border-radius: 20px;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
  margin: 0 auto;
  color: #ffffff;
}
.email_collector .theme_06 button:hover {
  transform: scale(0.95);
}

/* email_collector end */

/*# sourceMappingURL=email_collector.css.map */
