/* color area start  */
/* text_dark */
/* text_dark */
/* green */
.fb_green .right_feedback {
  background: #2ACBA4 !important;
}
.fb_green .right_feedback_content .header {
  background: #2ACBA4 !important;
}
.fb_green .right_feedback_content button {
  background: #2ACBA4 !important;
}

/* blue */
.fb_blue .right_feedback {
  background: #2879B8 !important;
}
.fb_blue .right_feedback_content .header {
  background: #2879B8 !important;
}
.fb_blue .right_feedback_content button {
  background: #2879B8 !important;
}

/* orange */
.fb_orange .right_feedback {
  background: #F27B21 !important;
}
.fb_orange .right_feedback_content .header {
  background: #F27B21 !important;
}
.fb_orange .right_feedback_content button {
  background: #F27B21 !important;
}

/* red */
.fb_red .right_feedback {
  background: #EF3936 !important;
}
.fb_red .right_feedback_content .header {
  background: #EF3936 !important;
}
.fb_red .right_feedback_content button {
  background: #EF3936 !important;
}

/* yellow */
.fb_yellow .right_feedback {
  background: #F8EF26 !important;
}
.fb_yellow .right_feedback_content .header {
  background: #F8EF26 !important;
}
.fb_yellow .right_feedback_content button {
  background: #F8EF26 !important;
}

/* lime */
.fb_lime .right_feedback {
  background: #A3CD3B !important;
}
.fb_lime .right_feedback_content .header {
  background: #A3CD3B !important;
}
.fb_lime .right_feedback_content button {
  background: #A3CD3B !important;
}

/* turquoise */
.fb_turquoise .right_feedback {
  background: #14ADAA !important;
}
.fb_turquoise .right_feedback_content .header {
  background: #14ADAA !important;
}
.fb_turquoise .right_feedback_content button {
  background: #14ADAA !important;
}

/* pink */
.fb_pink .right_feedback {
  background: #F499C2 !important;
}
.fb_pink .right_feedback_content .header {
  background: #F499C2 !important;
}
.fb_pink .right_feedback_content button {
  background: #F499C2 !important;
}

/* magenta */
.fb_magenta .right_feedback {
  background: #D0256B !important;
}
.fb_magenta .right_feedback_content .header {
  background: #D0256B !important;
}
.fb_magenta .right_feedback_content button {
  background: #D0256B !important;
}

/* purple */
.fb_purple .right_feedback {
  background: #613E98 !important;
}
.fb_purple .right_feedback_content .header {
  background: #613E98 !important;
}
.fb_purple .right_feedback_content button {
  background: #613E98 !important;
}

/* cream */
.fb_cream .right_feedback {
  background: #F1D69F !important;
}
.fb_cream .right_feedback_content .header {
  background: #F1D69F !important;
}
.fb_cream .right_feedback_content button {
  background: #F1D69F !important;
}

/* chocolate */
.fb_chocolate .right_feedback {
  background: #513422 !important;
}
.fb_chocolate .right_feedback_content .header {
  background: #513422 !important;
}
.fb_chocolate .right_feedback_content button {
  background: #513422 !important;
}

/* silver */
.fb_silver .right_feedback {
  background: #A9B4BA !important;
}
.fb_silver .right_feedback_content .header {
  background: #A9B4BA !important;
}
.fb_silver .right_feedback_content button {
  background: #A9B4BA !important;
}

/* cobalt */
.fb_cobalt .right_feedback {
  background: #183159 !important;
}
.fb_cobalt .right_feedback_content .header {
  background: #183159 !important;
}
.fb_cobalt .right_feedback_content button {
  background: #183159 !important;
}

/* color area end */
/* right_feedback start */
.right_feedback {
  background: linear-gradient(to top, #236A5C, #06A279);
  position: fixed;
  top: 30%;
  right: -2px;
  height: 145px;
  padding: 4px;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
}
.right_feedback:hover {
  box-shadow: -3px 0 20px 2px rgba(51, 59, 64, 0.3);
}
.right_feedback:hover .head {
  padding-right: 3px;
}
.right_feedback .head {
  text-align: center;
  height: 100%;
  writing-mode: vertical-rl;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* right_feedback end */
/* right_feedback_content start */
.right_feedback_content {
  position: fixed;
  top: 30%;
  right: -400px;
  width: 320px;
  box-shadow: 0 0 20px 3px rgba(51, 59, 64, 0.3);
  border-radius: 4px;
  transition: all 0.3s;
}
.right_feedback_content .header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  background: linear-gradient(to right, #1B7863, #05A57B);
  position: relative;
}
.right_feedback_content .header .radio_type {
  width: 60px;
  display: block;
  text-align: center;
}
.right_feedback_content .header .radio_type label {
  display: block;
  margin: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 0;
}
.right_feedback_content .header .radio_type label img {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}
.right_feedback_content .header .radio_type label p {
  font-size: 12px;
  margin: 0;
}
.right_feedback_content .header .radio_type input {
  display: none;
}
.right_feedback_content .header .radio_type input:checked + label {
  background: rgba(51, 59, 64, 0.3);
  border-radius: 2px;
}
.right_feedback_content .header .feedback_close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  line-height: 23px;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  background: rgba(51, 59, 64, 0.3);
  transition: all 0.2s;
}
.right_feedback_content .header .feedback_close:hover {
  color: rgba(255, 255, 255, 0.6);
}
.right_feedback_content textarea {
  width: 100%;
  margin-bottom: -7px;
  padding: 20px;
  outline: 0;
  font-size: 14px;
  border: 0;
  background: #fafafa;
}
.right_feedback_content .submit_area {
  background: #ffffff;
  padding: 8px 0;
}
.right_feedback_content .submit_area button {
  display: block;
  width: 70px;
  background: #03a87c;
  color: #ffffff;
  margin: 0 auto;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
}

.right_feedback_content_show {
  right: -2px;
}

/* right_feedback_content end */

/*# sourceMappingURL=feedback.css.map */
