/* green */
.fb_b_green .header {
  background: #2ACBA4 !important;
}
.fb_b_green .submit_area button {
  background: #2ACBA4 !important;
}

/* blue */
.fb_b_blue .header {
  background: #2879B8 !important;
}
.fb_b_blue .submit_area button {
  background: #2879B8 !important;
}

/* orange */
.fb_b_orange .header {
  background: #F27B21 !important;
}
.fb_b_orange .submit_area button {
  background: #F27B21 !important;
}

/* red */
.fb_b_red .header {
  background: #EF3936 !important;
}
.fb_b_red .submit_area button {
  background: #EF3936 !important;
}

/* yellow */
.fb_b_yellow .header {
  background: #F8EF26 !important;
}
.fb_b_yellow .submit_area button {
  background: #F8EF26 !important;
}

/* lime */
.fb_b_lime .header {
  background: #A3CD3B !important;
}
.fb_b_lime .submit_area button {
  background: #A3CD3B !important;
}

/* turquoise */
.fb_b_turquoise .header {
  background: #14ADAA !important;
}
.fb_b_turquoise .submit_area button {
  background: #14ADAA !important;
}

/* pink */
.fb_b_pink .header {
  background: #F499C2 !important;
}
.fb_b_pink .submit_area button {
  background: #F499C2 !important;
}

/* magenta */
.fb_b_magenta .header {
  background: #D0256B !important;
}
.fb_b_magenta .submit_area button {
  background: #D0256B !important;
}

/* purple */
.fb_b_purple .header {
  background: #613E98 !important;
}
.fb_b_purple .submit_area button {
  background: #613E98 !important;
}

/* cream */
.fb_b_cream .header {
  background: #F1D69F !important;
}
.fb_b_cream .submit_area button {
  background: #F1D69F !important;
}

/* chocolate */
.fb_b_chocolate .header {
  background: #513422 !important;
}
.fb_b_chocolate .submit_area button {
  background: #513422 !important;
}

/* silver */
.fb_b_silver .header {
  background: #A9B4BA !important;
}
.fb_b_silver .submit_area button {
  background: #A9B4BA !important;
}

/* cobalt */
.fb_b_cobalt .header {
  background: #183159 !important;
}
.fb_b_cobalt .submit_area button {
  background: #183159 !important;
}

/* color area end */
/* feedback_bottom start */
.feedback_bottom {
  position: fixed;
  left: 30px;
  bottom: -100%;
  width: 320px;
  box-shadow: 0 0 20px 3px rgba(51, 59, 64, 0.3);
  border-radius: 4px;
  transition: all 0.3s;
}
.feedback_bottom .header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  background: linear-gradient(to right, #1B7863, #05A57B);
  position: relative;
}
.feedback_bottom .header .radio_type {
  width: 60px;
  display: block;
  text-align: center;
}
.feedback_bottom .header .radio_type label {
  display: block;
  margin: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 0;
}
.feedback_bottom .header .radio_type label img {
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}
.feedback_bottom .header .radio_type label p {
  font-size: 12px;
  margin: 0;
}
.feedback_bottom .header .radio_type input {
  display: none;
}
.feedback_bottom .header .radio_type input:checked + label {
  background: rgba(51, 59, 64, 0.3);
  border-radius: 2px;
}
.feedback_bottom .header .feedback_bottom_close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  line-height: 23px;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  background: rgba(51, 59, 64, 0.3);
  transition: all 0.2s;
}
.feedback_bottom .header .feedback_bottom_close:hover {
  color: rgba(255, 255, 255, 0.6);
}
.feedback_bottom textarea {
  width: 100%;
  margin-bottom: -7px;
  padding: 20px;
  outline: 0;
  font-size: 14px;
  border: 0;
  background: #fafafa;
}
.feedback_bottom .submit_area {
  background: #ffffff;
  padding: 8px 0;
}
.feedback_bottom .submit_area button {
  display: block;
  width: 70px;
  background: #03a87c;
  color: #ffffff;
  margin: 0 auto;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 4px;
}

.feedback_bottom_show {
  bottom: 30px;
}

@media screen and (max-width: 480px) {
  .feedback_bottom {
    left: 0;
  }

  .feedback_bottom_show {
    bottom: 0;
  }
}
/* feedback_bottom end */

/*# sourceMappingURL=feedback_bottom.css.map */
