/* color area start  */
/* text_dark */
.h_text_dark .nav-link {
  color: #333b40 !important;
}
.h_text_dark .nav-link::before {
  background: rgba(51, 59, 64, 0.2) !important;
}
.h_text_dark .follow_button {
  border: 1px solid rgba(51, 59, 64, 0.1) !important;
}

/* text_dark */
.h_text_light .nav-link {
  color: #ffffff !important;
}
.h_text_light .nav-link::before {
  background: rgba(255, 255, 255, 0.2) !important;
}
.h_text_light .follow_button {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* green */
.h_green {
  background: #2ACBA4 !important;
}

/* blue */
.h_blue {
  background: #2879B8 !important;
}

/* orange */
.h_orange {
  background: #F27B21 !important;
}

/* red */
.h_red {
  background: #EF3936 !important;
}

/* yellow */
.h_yellow {
  background: #F8EF26 !important;
}

/* lime */
.h_lime {
  background: #A3CD3B !important;
}

/* turquoise */
.h_turquoise {
  background: #14ADAA !important;
}

/* pink */
.h_pink {
  background: #F499C2 !important;
}

/* magenta */
.h_magenta {
  background: #D0256B !important;
}

/* purple */
.h_purple {
  background: #613E98 !important;
}

/* cream */
.h_cream {
  background: #F1D69F !important;
}

/* chocolate */
.h_chocolate {
  background: #513422 !important;
}

/* silver */
.h_silver {
  background: #A9B4BA !important;
}

/* cobalt */
.h_cobalt {
  background: #183159 !important;
}

/* color area end */

/*# sourceMappingURL=header_blogger.css.map */
