*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
}

.heading {
  font-family: "PT Sans", sans-serif;
}

ul {
  list-style-type: none;
}

.section_top_padding {
  padding-top: 150px;
}

.follow_button {
  border: 1px solid rgba(51, 59, 64, 0.1);
  border-radius: 4px;
  background: none;
  color: #333b40;
  outline: 0;
  text-decoration: none !important;
}
.follow_button:focus {
  box-shadow: none !important;
}
.follow_button:active {
  border-color: rgba(51, 59, 64, 0.5) !important;
  background-color: rgba(51, 59, 64, 0.5) !important;
}
.follow_button:hover {
  background: none;
  color: #333b40 !important;
  border: 1px solid rgba(51, 59, 64, 0.1);
}

.following {
  background-color: rgba(51, 59, 64, 0.5);
  color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 6px 1px rgba(51, 59, 64, 0.1);
  z-index: 999;
}
header .nav_top {
  border-bottom: 1px solid rgba(51, 59, 64, 0.1);
}
header .nav_top .nav_top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav_top .nav_top_content .brand {
  max-width: 147px;
  width: 100%;
}
header .nav_top .nav_top_content .brand img {
  width: 100%;
}
header .nav_top .nav_top_content ul {
  margin-bottom: 0;
}
header .nav_top .nav_top_content ul li {
  display: inline-block;
}
header .nav_top .nav_top_content ul li .nav_link {
  margin: 0 8px;
  display: block;
  height: 60px;
  line-height: 60px;
  color: #333b40;
  text-decoration: none;
  position: relative;
  font-size: 30px;
}
header .nav_top .nav_top_content ul li .nav_link:hover .badge {
  display: block;
}
header .nav_top .nav_top_content ul li .nav_link .badge {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333b40;
  color: #f9f9ff;
  font-size: 12px;
  transition: all 0.2s;
}
header .nav_top .nav_top_content ul li .nav_link .user_image {
  width: 40px;
  height: 40px;
}
header .nav_top .nav_top_content ul li .nav_link .user_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
header .nav_top .nav_top_content ul li .dropdown-menu.show {
  top: -1px !important;
}
header .nav_top .nav_top_content ul .nav-link {
  margin: 0 8px;
  height: 60px;
  line-height: 45px;
  color: #333b40;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
header .nav_top .nav_top_content ul .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 2px;
  width: 0;
  background: rgba(51, 59, 64, 0.2);
  transition: all 0.3s;
}
header .nav_top .nav_top_content ul .nav-link:hover::before {
  width: 100%;
}
header .nav_top .nav_top_content .dropdown-toggle:after {
  content: none;
}
header .nav_top_hide {
  height: 0;
}
header .nav_bottom {
  background: #ffffff;
}
header .nav_bottom .navbar-toggler {
  color: #333b40;
  outline: 0;
}
header .nav_bottom .navbar-brand {
  max-width: 80px;
}
header .nav_bottom .navbar-brand img {
  width: 100%;
}
header .nav_bottom .navbar-nav {
  position: relative;
}
header .nav_bottom .nav-link {
  margin: 0 8px;
  color: #333b40;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
header .nav_bottom .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: rgba(51, 59, 64, 0.2);
  transition: all 0.3s;
}
header .nav_bottom .nav-link:hover::before {
  width: 100%;
}
header .nav_bottom .subscribe {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 576px) {
  .nav_top_content .brand {
    max-width: 100px !important;
  }
  .nav_top_content .nav_link {
    font-size: 20px !important;
    margin: 0 3px !important;
  }
  .nav_top_content .nav_link .user_image {
    height: 30px !important;
    width: 30px !important;
  }
  .nav_top_content .nav-link {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0;
  }
}
/* header end */
/* signup_login Modal start */
#signup_loginModal .modal-body {
  padding: 60px 15px;
  border-radius: 2px;
  position: relative;
}
#signup_loginModal .modal-body .close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #eee;
  width: 40px;
  height: 40px;
  line-height: 43px;
  text-align: center;
  border-radius: 50%;
  font-size: 18px;
}
#signup_loginModal .modal-body h2 {
  text-align: center;
  font-weight: 700;
  display: none;
}
#signup_loginModal .modal-body .description {
  text-align: center;
  margin-bottom: 41px;
  display: none;
}
#signup_loginModal .modal-body .signup_area {
  display: none;
}
#signup_loginModal .modal-body .signup_area .third_party {
  display: block;
  width: 230px;
  margin: 15px auto;
  border: 2px solid rgba(51, 59, 64, 0.2);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  color: #333b40;
  text-decoration: none;
  transition: all 0.2s;
}
#signup_loginModal .modal-body .signup_area .third_party:hover {
  box-shadow: 1px 1px 6px 1px rgba(51, 59, 64, 0.1);
}
#signup_loginModal .modal-body .signup_area .third_party img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#signup_loginModal .modal-body .signup_area .signup_form_trigger {
  display: block;
  width: 160px;
  background: #03a87c;
  color: #ffffff;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
  padding: 2px 0;
  text-decoration: none;
}
#signup_loginModal .modal-body .signup_form, #signup_loginModal .modal-body .signin_form {
  display: none;
}
#signup_loginModal .modal-body .signup_form input, #signup_loginModal .modal-body .signin_form input {
  margin: 15px auto;
  display: block;
  width: 230px;
  border: 2px solid rgba(51, 59, 64, 0.2);
  border-radius: 5px;
  padding: 5px 15px;
  outline: 0;
  font-size: 16px;
}
#signup_loginModal .modal-body .signup_form .submit_btn, #signup_loginModal .modal-body .signin_form .submit_btn {
  display: block;
  width: 100px;
  background: #03a87c;
  color: #ffffff;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
  padding: 2px 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}
#signup_loginModal .modal-body .signin_form .third_party {
  display: block;
  width: 230px;
  margin: 15px auto;
  border: 2px solid rgba(51, 59, 64, 0.2);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 0 5px 20px;
  color: #333b40;
  text-decoration: none;
  transition: all 0.2s;
}
#signup_loginModal .modal-body .signin_form .third_party:hover {
  box-shadow: 1px 1px 6px 1px rgba(51, 59, 64, 0.1);
}
#signup_loginModal .modal-body .signin_form .third_party img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#signup_loginModal .modal-body .signin_trigger_area {
  display: none;
  text-align: center;
  font-size: 17px;
}
#signup_loginModal .modal-body .signin_trigger_area .signin_trigger {
  color: #03a87c;
  font-weight: 700;
}
#signup_loginModal .modal-body .signup_trigger_area {
  display: none;
  text-align: center;
  font-size: 17px;
}
#signup_loginModal .modal-body .signup_trigger_area .signup_trigger {
  color: #03a87c;
  font-weight: 700;
}
#signup_loginModal .modal-body .active {
  display: block;
}

@media (min-width: 992px) {
  #signup_loginModal .modal-lg {
    max-width: 920px;
  }
  #signup_loginModal .modal-body {
    background: url(../images/signup_modal_bg.jpg);
  }
}
@media (max-width: 576px) {
  #signup_loginModal .modal-body .description br {
    display: none;
  }
}
/* signup_login Modal end */
/* home_body start */
.home_body {
  padding: 70px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background: url(../images/home_bg.jpg);
  background-size: cover;
  background-position: bottom;
}
.home_body .home_content {
  border-radius: 10px;
  width: 100%;
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.home_body .home_content .home_content_button {
  background: rgba(51, 59, 64, 0.6);
  width: 150px;
  height: 50px;
  line-height: 55px;
  display: block;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  z-index: 3;
  transition: all 0.3s;
}
.home_body .home_content .home_content_button:hover {
  transform: scale(1.5);
}
.home_body .design {
  background: url(../images/home_content_bg/design_bg.jpg);
  background-size: cover;
  background-position: center;
}
.home_body .design .background-wrap .x1 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x2 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x3 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x4 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x5 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x6 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x7 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x8 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x9 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .design .background-wrap .x10 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.home_body .read {
  background: url(../images/home_content_bg/read_bg.jpg);
  background-size: cover;
  background-position: center;
}
.home_body .write {
  background: url(../images/home_content_bg/write_bg.jpg);
  background-size: cover;
  background-position: center;
}

/* KEYFRAMES */
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 70%;
  }
  100% {
    margin-top: -100%;
  }
}
@-moz-keyframes animateBubble {
  0% {
    margin-top: 70%;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes animateBubble {
  0% {
    margin-top: 70%;
  }
  100% {
    margin-top: -100%;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
/* ANIMATIONS */
.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -10%;
  top: 5%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 0;
  top: 80%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 5%;
  top: 40%;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 10%;
  top: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 20%;
  top: 60%;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 25%;
  top: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 33%;
  top: 70%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 40%;
  top: 10%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 45%;
  top: 50%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 40%;
  top: 80%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */
.bubble {
  height: 200px;
  position: absolute;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .home_body .home_content {
    height: 25vh;
  }
}
/* home_body end */
/* how_work style start */
.how_work {
  padding: 50px 0;
}
.how_work .top_content h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333b40;
}
.how_work .top_content h6 {
  font-size: 18px;
}
.how_work .step {
  padding-top: 50px;
}
.how_work .step .number {
  width: 70px;
  height: 70px;
  line-height: 72px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  box-shadow: 3px 3px 12px 1px rgba(51, 59, 64, 0.3);
  margin-bottom: 30px;
}
.how_work .step .design {
  background: #EA4336;
}
.how_work .step .write {
  background: #4285F4;
}
.how_work .step .read {
  background: #34A853;
}
.how_work .step h1 {
  margin-bottom: 20px;
}
.how_work .step .card {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.how_work .step .card-header {
  padding: 0;
  background: none;
}
.how_work .step .card-header button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  font-weight: bold;
  text-decoration: none;
  color: #333b40;
}
.how_work .step .card-header button i {
  transition: all 0.2s;
}
.how_work .step .card-header .collapsed i {
  transform: rotate(180deg);
}
.how_work .step .card-body {
  padding: 15px 0;
}
.how_work .step .gif {
  padding-top: 50px;
  display: flex;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .how_work .top_content .image {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .how_work .top_content h1 {
    font-size: 35px;
  }
  .how_work .step .title {
    font-size: 28px;
  }
}
/* how_work style end */
/* home_social style start */
.home_social {
  background: #f9f9ff;
  padding: 50px 0;
  text-align: center;
}
.home_social ul {
  margin: 0;
}
.home_social ul li {
  display: inline-block;
  margin: 0 5px;
}
.home_social ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background: #03a87c;
  color: #ffffff;
  box-shadow: 2px 2px 8px 1px rgba(51, 59, 64, 0.3);
}

/* home_social style end */
/* footer style start */
footer {
  background: #ffffff;
  padding: 50px 0 30px;
  color: #333b40;
  border-top: 1px solid #cccccc;
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* active state */
  /* ANIMATIONS ================ */
  /* form style end */
}
footer h4 {
  font-weight: bold;
}
footer a {
  display: block;
  color: #333b40;
  transition: all 0.7s;
  margin-bottom: 15px;
  font-size: 14px;
}
footer a:hover {
  color: #03a87c;
}
footer p {
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 0;
}
footer p a {
  display: inline-block;
  margin-bottom: 0;
}
footer button {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #03a87c;
  background: none;
  transition: all 0.3s;
  cursor: pointer;
}
footer button:hover {
  background: #03a87c;
  color: #ffffff;
}
footer .footer_bottom {
  border-top: 1px solid #cccccc;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}
footer .footer_bottom p {
  margin: 0;
  font-size: 12px;
}
footer .group {
  position: relative;
  margin-bottom: 30px;
}
footer input, footer textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #333b40;
  border-bottom: 1px solid #788994;
}
footer input:focus, footer textarea:focus {
  outline: none;
}
footer label {
  color: #95a2aa;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
footer input:focus ~ label, footer input:valid ~ label, footer textarea:focus ~ label, footer textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
}
footer .bar {
  position: relative;
  display: block;
  width: 100%;
}
footer .bar:before, footer .bar:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
footer .bar:before {
  left: 50%;
}
footer .bar:after {
  right: 50%;
}
footer input:focus ~ .bar:before, footer input:focus ~ .bar:after, footer textarea:focus ~ .bar:before, footer textarea:focus ~ .bar:after {
  width: 50%;
}
footer input:focus ~ .highlight, footer textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* footer style end */
/* cookie_popup style start */
.cookie_popup {
  background: #4285F4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
  transition: all 1.5s;
}
.cookie_popup p {
  font-size: 14px;
}
.cookie_popup .button {
  background: #03a87c;
  color: #ffffff;
  text-decoration: none;
  padding: 0 5px;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.2s;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.cookie_popup .button:hover {
  box-shadow: 0 1px 12px 1px rgba(51, 59, 64, 0.3);
}

.cookie_hide {
  bottom: -100%;
}

/* cookie_popup style end */

/*# sourceMappingURL=master.css.map */
