.message_board {
  padding: 90px 0 0;
}
.message_board aside {
  background: url(../images/home_content_bg/write_bg.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.message_board aside .header {
  display: flex;
  align-items: center;
  padding: 30px 30px;
}
.message_board aside .header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.message_board aside .header p {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}
.message_board aside .search_input {
  margin: 0 30px 15px;
  background: #ffffff;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.message_board aside .search_input label {
  color: #333b40;
  position: absolute;
  top: 8px;
  left: 27px;
}
.message_board aside .search_input input {
  width: 100%;
  border: 0;
  outline: 0;
  height: 38px;
  padding: 0 10px 0 50px;
}
.message_board aside .conversation_slider_area .header {
  padding: 0 30px 8px;
}
.message_board aside .conversation_slider_area .conversation_slider {
  padding: 0 30px;
}
.message_board aside .conversation_slider_area .conversation_slider .item {
  position: relative;
}
.message_board aside .conversation_slider_area .conversation_slider .item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.message_board aside .conversation_slider_area .conversation_slider .item span {
  position: absolute;
  top: 0;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #AEAEAE;
}
.message_board aside .conversation_slider_area .conversation_slider .item .online {
  background: #74FF53;
}
.message_board aside .conversation_slider_area .conversation_slider .owl-nav button.owl-next {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 40px;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  outline: 0;
}
.message_board aside .conversation_slider_area .conversation_slider .owl-nav button.owl-prev {
  display: none;
}
.message_board aside .conversation_area .header {
  padding: 0 30px 10px;
}
.message_board aside .conversation_area .conversation_all {
  height: 360px;
  overflow-y: auto;
}
.message_board aside .conversation_area .conversation_all .conversation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s;
}
.message_board aside .conversation_area .conversation_all .conversation:hover {
  background: #047154;
}
.message_board aside .conversation_area .conversation_all .conversation .left {
  display: flex;
  align-items: center;
}
.message_board aside .conversation_area .conversation_all .conversation .left .image {
  position: relative;
  margin-right: 10px;
}
.message_board aside .conversation_area .conversation_all .conversation .left .image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.message_board aside .conversation_area .conversation_all .conversation .left .image span {
  position: absolute;
  left: 6px;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #AEAEAE;
}
.message_board aside .conversation_area .conversation_all .conversation .left .image .online {
  background: #74FF53;
}
.message_board aside .conversation_area .conversation_all .conversation .left .content h6 {
  margin-bottom: 4px;
}
.message_board aside .conversation_area .conversation_all .conversation .left .content p {
  margin: 0;
  font-size: 12px;
}
.message_board aside .conversation_area .conversation_all .conversation .right p {
  margin: 0;
  font-size: 12px;
}
.message_board .chat_area {
  background: #FAFAFA;
}
.message_board .chat_area .header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(3, 168, 124, 0.4);
}
.message_board .chat_area .header .image {
  position: relative;
  margin-right: 10px;
}
.message_board .chat_area .header .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.message_board .chat_area .header .image span {
  position: absolute;
  top: 0;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #AEAEAE;
}
.message_board .chat_area .header .image .online {
  background: #74FF53;
}
.message_board .chat_area .header .content h5 {
  font-size: 16px;
  color: #03a87c;
  font-weight: 700;
  margin-bottom: 4px;
}
.message_board .chat_area .header .content h6 {
  margin-bottom: 4px;
  font-size: 12px;
  color: #AEAEAE;
}
.message_board .chat_area .header .content p {
  margin: 0;
  font-size: 11px;
  color: #AEAEAE;
}
.message_board .chat_area .chat_box {
  height: 543px;
  overflow-y: auto;
}
.message_board .chat_area .chat_box .left {
  padding: 5px 30px;
}
.message_board .chat_area .chat_box .left .content .message_text {
  background: #E3F2EE;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 2px;
}
.message_board .chat_area .chat_box .left .content .time {
  margin: 4px 0 0;
  font-size: 11px;
  color: #AEAEAE;
}
.message_board .chat_area .chat_box .right {
  padding: 5px 30px;
}
.message_board .chat_area .chat_box .right .content {
  text-align: right;
}
.message_board .chat_area .chat_box .right .content .message_text {
  background: #03A87C;
  color: #ffffff;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 2px;
}
.message_board .chat_area .chat_box .right .content .time {
  margin: 4px 0 0;
  font-size: 11px;
  color: #AEAEAE;
}
.message_board .chat_area .chat_action {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.message_board .chat_area .chat_action textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 0;
  outline: 0;
}
.message_board .chat_area .chat_action .right_action {
  display: flex;
  align-items: center;
}
.message_board .chat_area .chat_action .right_action .imoji {
  color: #AEAEAE;
  width: 14px;
  height: 20px;
  display: block;
  margin-right: 15px;
  margin-left: 10px;
  transition: all 0.2s;
}
.message_board .chat_area .chat_action .right_action .imoji:hover {
  color: #333b40;
}
.message_board .chat_area .chat_action .right_action .file {
  color: #AEAEAE;
  width: 14px;
  height: 20px;
  display: block;
  margin-right: 15px;
  transition: all 0.2s;
}
.message_board .chat_area .chat_action .right_action .file label {
  cursor: pointer;
}
.message_board .chat_area .chat_action .right_action .file input {
  display: none;
}
.message_board .chat_area .chat_action .right_action .file:hover {
  color: #333b40;
}
.message_board .chat_area .chat_action .right_action .submit {
  color: #AEAEAE;
  width: 14px;
  height: 20px;
  display: block;
  transition: all 0.2s;
}
.message_board .chat_area .chat_action .right_action .submit label {
  cursor: pointer;
}
.message_board .chat_area .chat_action .right_action .submit button {
  display: none;
}
.message_board .chat_area .chat_action .right_action .submit:hover {
  color: #333b40;
}

@media (max-width: 992px) {
  .message_board aside hr {
    margin-bottom: 0;
  }
  .message_board aside .conversation_area {
    display: none;
  }
}

/*# sourceMappingURL=message_board.css.map */
