.onload_modal .modal-content {
  border: 0;
}
.onload_modal .modal-body {
  padding: 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.onload_modal .modal-body .modal_close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 23px;
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  font-size: 12px;
  transition: all 0.2s;
  z-index: 99;
}
.onload_modal .modal-body .modal_close:hover {
  opacity: 0.9;
}

/* color area start  */
/* text_dark */
.p_text_dark h3 {
  color: #333b40 !important;
}
.p_text_dark .modal_button {
  color: #333b40 !important;
}

/* text_dark */
.p_text_light h3 {
  color: #ffffff !important;
}
.p_text_light .modal_button {
  color: #ffffff !important;
}

/* green */
.p_green .modal_close {
  color: #2ACBA4;
}
.p_green .modal_header {
  background: #2ACBA4;
}
.p_green .modal_header_with_img::after {
  background: rgba(42, 203, 164, 0.75);
  mix-blend-mode: multiply;
}
.p_green .modal_img_shape {
  background: #2ACBA4;
}
.p_green .header_text {
  color: #2ACBA4;
}
.p_green .modal_button {
  background: #2ACBA4;
}

/* blue */
.p_blue .modal_close {
  color: #2879B8;
}
.p_blue .modal_header {
  background: #2879B8;
}
.p_blue .modal_header_with_img::after {
  background: rgba(40, 121, 184, 0.75);
  mix-blend-mode: multiply;
}
.p_blue .modal_img_shape {
  background: #2879B8;
}
.p_blue .header_text {
  color: #2879B8;
}
.p_blue .modal_button {
  background: #2879B8;
}

/* orange */
.p_orange .modal_close {
  color: #F27B21;
}
.p_orange .modal_header {
  background: #F27B21;
}
.p_orange .modal_header_with_img::after {
  background: rgba(242, 123, 33, 0.75);
  mix-blend-mode: multiply;
}
.p_orange .modal_img_shape {
  background: #F27B21;
}
.p_orange .header_text {
  color: #F27B21;
}
.p_orange .modal_button {
  background: #F27B21;
}

/* red */
.p_red .modal_close {
  color: #EF3936;
}
.p_red .modal_header {
  background: #EF3936;
}
.p_red .modal_header_with_img::after {
  background: rgba(239, 57, 54, 0.75);
  mix-blend-mode: multiply;
}
.p_red .modal_img_shape {
  background: #EF3936;
}
.p_red .header_text {
  color: #EF3936;
}
.p_red .modal_button {
  background: #EF3936;
}

/* yellow */
.p_yellow .modal_close {
  color: #F8EF26;
}
.p_yellow .modal_header {
  background: #F8EF26;
}
.p_yellow .modal_header_with_img::after {
  background: rgba(248, 239, 38, 0.75);
  mix-blend-mode: multiply;
}
.p_yellow .modal_img_shape {
  background: #F8EF26;
}
.p_yellow .header_text {
  color: #F8EF26;
}
.p_yellow .modal_button {
  background: #F8EF26;
}

/* lime */
.p_lime .modal_close {
  color: #A3CD3B;
}
.p_lime .modal_header {
  background: #A3CD3B;
}
.p_lime .modal_header_with_img::after {
  background: rgba(163, 205, 59, 0.75);
  mix-blend-mode: multiply;
}
.p_lime .modal_img_shape {
  background: #A3CD3B;
}
.p_lime .header_text {
  color: #A3CD3B;
}
.p_lime .modal_button {
  background: #A3CD3B;
}

/* turquoise */
.p_turquoise .modal_close {
  color: #14ADAA;
}
.p_turquoise .modal_header {
  background: #14ADAA;
}
.p_turquoise .modal_header_with_img::after {
  background: rgba(20, 173, 170, 0.75);
  mix-blend-mode: multiply;
}
.p_turquoise .modal_img_shape {
  background: #14ADAA;
}
.p_turquoise .header_text {
  color: #14ADAA;
}
.p_turquoise .modal_button {
  background: #14ADAA;
}

/* pink */
.p_pink .modal_close {
  color: #F499C2;
}
.p_pink .modal_header {
  background: #F499C2;
}
.p_pink .modal_header_with_img::after {
  background: rgba(244, 153, 194, 0.75);
  mix-blend-mode: multiply;
}
.p_pink .modal_img_shape {
  background: #F499C2;
}
.p_pink .header_text {
  color: #F499C2;
}
.p_pink .modal_button {
  background: #F499C2;
}

/* magenta */
.p_magenta .modal_close {
  color: #D0256B;
}
.p_magenta .modal_header {
  background: #D0256B;
}
.p_magenta .modal_header_with_img::after {
  background: rgba(208, 37, 107, 0.75);
  mix-blend-mode: multiply;
}
.p_magenta .modal_img_shape {
  background: #D0256B;
}
.p_magenta .header_text {
  color: #D0256B;
}
.p_magenta .modal_button {
  background: #D0256B;
}

/* purple */
.p_purple .modal_close {
  color: #613E98;
}
.p_purple .modal_header {
  background: #613E98;
}
.p_purple .modal_header_with_img::after {
  background: rgba(97, 62, 152, 0.75);
  mix-blend-mode: multiply;
}
.p_purple .modal_img_shape {
  background: #613E98;
}
.p_purple .header_text {
  color: #613E98;
}
.p_purple .modal_button {
  background: #613E98;
}

/* cream */
.p_cream .modal_close {
  color: #F1D69F;
}
.p_cream .modal_header {
  background: #F1D69F;
}
.p_cream .modal_header_with_img::after {
  background: rgba(241, 214, 159, 0.75);
  mix-blend-mode: multiply;
}
.p_cream .modal_img_shape {
  background: #F1D69F;
}
.p_cream .header_text {
  color: #F1D69F;
}
.p_cream .modal_button {
  background: #F1D69F;
}

/* chocolate */
.p_chocolate .modal_close {
  color: #513422;
}
.p_chocolate .modal_header {
  background: #513422;
}
.p_chocolate .modal_header_with_img::after {
  background: rgba(81, 52, 34, 0.75);
  mix-blend-mode: multiply;
}
.p_chocolate .modal_img_shape {
  background: #513422;
}
.p_chocolate .header_text {
  color: #513422;
}
.p_chocolate .modal_button {
  background: #513422;
}

/* silver */
.p_silver .modal_close {
  color: #A9B4BA;
}
.p_silver .modal_header {
  background: #A9B4BA;
}
.p_silver .modal_header_with_img::after {
  background: rgba(169, 180, 186, 0.75);
  mix-blend-mode: multiply;
}
.p_silver .modal_img_shape {
  background: #A9B4BA;
}
.p_silver .header_text {
  color: #A9B4BA;
}
.p_silver .modal_button {
  background: #A9B4BA;
}

/* cobalt */
.p_cobalt .modal_close {
  color: #183159;
}
.p_cobalt .modal_header {
  background: #183159;
}
.p_cobalt .modal_header_with_img::after {
  background: rgba(24, 49, 89, 0.75);
  mix-blend-mode: multiply;
}
.p_cobalt .modal_img_shape {
  background: #183159;
}
.p_cobalt .header_text {
  color: #183159;
}
.p_cobalt .modal_button {
  background: #183159;
}

/* color area end */
/* theme 01 start */
/* modal_01 */
.modal_01 .modal_header, .modal_04 .modal_header {
  padding: 25px 15px;
  margin: 0;
}
.modal_01 .modal_header h3, .modal_04 .modal_header h3 {
  margin: 0;
  text-align: center;
  font-weight: 700;
}
.modal_01 .main_body, .modal_04 .main_body {
  background: #393E46;
  padding: 30px 15px 25px;
}
.modal_01 .main_body h6, .modal_04 .main_body h6 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
.modal_01 .main_body input, .modal_04 .main_body input {
  max-width: 300px;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  display: block;
  padding: 0 15px;
  font-size: 13px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.modal_01 .main_body .modal_button, .modal_04 .main_body .modal_button {
  width: 110px;
  height: 30px;
  line-height: 32px;
  display: block;
  margin: 0 auto;
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin-bottom: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.modal_01 .main_body .modal_button:hover, .modal_04 .main_body .modal_button:hover {
  opacity: 0.9;
}
.modal_01 .main_body p, .modal_04 .main_body p {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  margin: 0;
}

/* theme 01 end */
/* theme 02 start */
/* modal_02 */
.modal_02 .modal_header_with_img, .modal_05 .modal_header_with_img {
  margin: 0;
  min-height: 80px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: url(../images/popup_bg/1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.modal_02 .modal_header_with_img::after, .modal_05 .modal_header_with_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal_02 .modal_header_with_img h3, .modal_05 .modal_header_with_img h3 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  z-index: 2;
}
.modal_02 .main_body, .modal_05 .main_body {
  background: #393E46;
  padding: 30px 15px 25px;
}
.modal_02 .main_body h6, .modal_05 .main_body h6 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}
.modal_02 .main_body input, .modal_05 .main_body input {
  max-width: 300px;
  width: 100%;
  height: 35px;
  margin: 0 auto;
  display: block;
  padding: 0 15px;
  font-size: 13px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.modal_02 .main_body .modal_button, .modal_05 .main_body .modal_button {
  width: 110px;
  height: 30px;
  line-height: 32px;
  display: block;
  margin: 0 auto;
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin-bottom: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.modal_02 .main_body .modal_button:hover, .modal_05 .main_body .modal_button:hover {
  opacity: 0.9;
}
.modal_02 .main_body p, .modal_05 .main_body p {
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  margin: 0;
}

/* theme 02 end */
/* theme 03 start */
/* modal_03 */
.modal_03, .modal_06 {
  background: #393E46;
}
.modal_03 .modal_img_shape, .modal_06 .modal_img_shape {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 250px;
}
.modal_03 .modal_img_shape img, .modal_06 .modal_img_shape img {
  width: 100%;
  height: 100%;
}
.modal_03 .main_body, .modal_06 .main_body {
  background: #393E46;
  padding: 30px 15px 25px;
}
.modal_03 .main_body .header_text, .modal_06 .main_body .header_text {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 25px;
  text-align: center;
}
.modal_03 .main_body h6, .modal_06 .main_body h6 {
  margin-bottom: 35px;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}
.modal_03 .main_body .modal_button, .modal_06 .main_body .modal_button {
  width: 180px;
  height: 30px;
  line-height: 32px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}
.modal_03 .main_body .modal_button:hover, .modal_06 .main_body .modal_button:hover {
  opacity: 0.9;
}

/* theme 03 end */
/* theme 04 start */
/* modal_04 */
.modal_04 .main_body {
  background: #edeff3;
}
.modal_04 .main_body h6 {
  color: #333b40;
}
.modal_04 .main_body p {
  color: #333b40;
}

/* theme 04 end */
/* theme 05 start */
/* modal_05 */
.modal_05 .main_body {
  background: #edeff3;
}
.modal_05 .main_body h6 {
  color: #333b40;
}
.modal_05 .main_body p {
  color: #333b40;
}

/* theme 05 end */
/* theme 06 start */
/* modal_06 */
.modal_06 {
  background: #edeff3;
}
.modal_06 .main_body {
  background: #edeff3;
}
.modal_06 .main_body h6 {
  color: #333b40;
}

/* theme 06 end */

/*# sourceMappingURL=onload_popup.css.map */
