/* team style start */
.team {
  background: #f9f9ff;
  padding: 10.5rem 0 5rem;
}
.team .section_heading {
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 0 auto 4rem;
}
.team .section_heading h1 {
  font-weight: 600;
  color: #333b40;
}
.team .section_heading p {
  color: #788994;
}
.team figure {
  margin-bottom: 3rem;
}
.team figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1.25rem;
}
.team figure figcaption a {
  font-weight: 700;
  color: #333b40;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 18px;
}
.team figure figcaption a:hover {
  color: #03a87c;
}
.team figure figcaption h5 {
  color: #4a555c;
  padding: 0.25rem 0;
  font-size: 16px;
}
.team figure figcaption .social li {
  display: inline-block;
  padding: 0 5px;
}
.team figure figcaption .social li a {
  color: rgba(51, 59, 64, 0.3);
  transition: all 0.3s;
}
.team figure figcaption .social li a:hover {
  color: #333b40;
}
.team .modal-body img {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.team .modal-body h5 {
  font-weight: 700;
  text-align: center;
}
.team .modal-body p {
  margin: 0;
}
.team .modal-body .modal_close {
  position: absolute;
  top: 3px;
  right: 3px;
  background: rgba(51, 59, 64, 0.5);
  color: #ffffff;
  width: 20px;
  height: 20px;
  line-height: 23px;
  font-size: 13px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s;
}
.team .modal-body .modal_close:hover {
  background: rgba(51, 59, 64, 0.8);
}

/* team style end */

/*# sourceMappingURL=team.css.map */
