/* terms_condition style start */
.terms_condition {
  background: #f9f9ff;
  padding: 10.5rem 0 5rem;
}
.terms_condition .section_heading {
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 0 auto 4rem;
}
.terms_condition .section_heading h1 {
  font-weight: 600;
  color: #333b40;
}
.terms_condition .section_heading p {
  color: #788994;
}
.terms_condition .main_area li {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom: 10px;
}

/* terms_condition style end */

/*# sourceMappingURL=terms_condition.css.map */
