.theme_btn {
  margin-bottom: 20px;
}
.theme_btn .theme_btn_link {
  display: inline-block;
  padding: 5px 20px;
  font-size: 14px;
}
.theme_btn .btn_01 {
  background: #F9A828;
  color: #ffffff;
  border-radius: 4px;
}
.theme_btn .btn_02 {
  background: #2ACBA4;
  color: #ffffff;
  border-radius: 20px;
}
.theme_btn .btn_03 {
  background: #317AE1;
  color: #ffffff;
  border-radius: 4px;
}
.theme_btn .btn_04 {
  background: #A82FFC;
  color: #ffffff;
}
.theme_btn .btn_05 {
  background: #393E46;
  color: #ffffff;
  border-radius: 20px;
}
.theme_btn .btn_06 {
  background: #ffffff;
  color: #333b40;
  border-radius: 20px;
  border: 1px solid rgba(51, 59, 64, 0.5);
}

/* color area start  */
/* text_dark */
.btn_text_dark {
  color: #333b40 !important;
}

/* text_dark */
.btn_text_light {
  color: #ffffff !important;
}

/* green */
.btn_green {
  background: #2ACBA4 !important;
}

/* blue */
.btn_blue {
  background: #2879B8 !important;
}

/* orange */
.btn_orange {
  background: #F27B21 !important;
}

/* red */
.btn_red {
  background: #EF3936 !important;
}

/* yellow */
.btn_yellow {
  background: #F8EF26 !important;
}

/* lime */
.btn_lime {
  background: #A3CD3B !important;
}

/* turquoise */
.btn_turquoise {
  background: #14ADAA !important;
}

/* pink */
.btn_pink {
  background: #F499C2 !important;
}

/* magenta */
.btn_magenta {
  background: #D0256B !important;
}

/* purple */
.btn_purple {
  background: #613E98 !important;
}

/* cream */
.btn_cream {
  background: #F1D69F !important;
}

/* chocolate */
.btn_chocolate {
  background: #513422 !important;
}

/* silver */
.btn_silver {
  background: #A9B4BA !important;
}

/* cobalt */
.btn_cobalt {
  background: #183159 !important;
}

/* color area end */

/*# sourceMappingURL=theme_btn.css.map */
