/* typeform start */
.typeform-formembed {
  width: 100%;
  margin: 0 auto 30px;
  padding: 0;
}

.typeform-widget {
  width: 100%;
  height: 500px;
}

.typeform-widget iframe {
  -webkit-overflow-scrolling: touch;
}

/* typeform end */

/*# sourceMappingURL=typeform.css.map */
