@import 'partials/color';
@import 'partials/mixins';


/* about_page style start */
.about_page {
    background: #f9f9ff;
    padding: 10.5rem 0 5rem;
    .section_heading {
        max-width: 700px;
        width: 100%;
        text-align: center;
        margin: 0 auto 4rem;
        h1 {
            font-weight: 600;
            color: $black;
        }
        p {
            color: lighten($black, 30%);
        }
    }
    .our_story {
        h2 {
            margin: 50px 0 20px;
            font-weight: 700;
        }
        .image {
            img {
                width: 100%;
            }
        }
    }
    .our_mission {
        padding-top: 80px;
        h2 {
            margin: 50px 0 20px;
            font-weight: 700;
        }
        .image {
            img {
                width: 100%;
            }
        }
    }
    .our_vision {
        padding-top: 80px;
        h2 {
            margin: 50px 0 20px;
            font-weight: 700;
            text-align: center;
        }
        p {
            text-align: center;
        }
        .image {
            img {
                width: 100%;
            }
        }
    }
    .our_values {
        padding-top: 80px;
        h2 {
            margin: 50px 0 30px;
            font-weight: 700;
            text-align: center;
        }
        h5 {
            font-weight: 700;
            margin-top: 30px;
            span {
                color: #ccc;
                margin-right: 5px;
            }
        }
        p {
            padding-left: 33px;
        }
    }
}
@media screen and (max-width: 767px) {
    .about_page {
        .our_story h2 {
            margin-top: 0;
        }
        .our_vision h2 {
            margin-top: 0;
        }
        .our_values h2 {
            margin-top: 0;
        }
    }
}
/* about_page style end */