@import 'partials/color';
@import 'partials/mixins';


/* blog_section start */ 
.blog_section {
    padding-top: 80px;
    .top_search {
        background: #DDDAEA;
        padding: 8px;
        margin-bottom: 20px;
        .button {
            width: 100%;
            background: $green;
            color: $white;
            border: 0;
            outline: 0;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
            border-radius: 4px;
            i {
                margin-left: 10px;
            }
        }
        .serach {
            input {
                width: 100%;
                height: 30px;
                border: 0;
                outline: 0;
                padding: 0 5px;
                text-align: center;
                font-size: 14px;
                border-radius: 4px;
            }
        }
        .view_trigger {
            display: flex;
            a {
                display: block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: $white;
                margin: 0 1px;
                border-radius: 4px;
            }
        }
    }
    .bookmark {
        #filterToggle {
            display: none;
        }
        .content {
            position: relative;
            padding: 15px 10px;
            display: block;
            color: $black;
            text-decoration: none;
            box-shadow: 0 0 8px 2px rgba($black, .2);
            border-radius: 4px;
            margin-bottom: 20px;
            h6 {
                font-weight: bold;
                font-size: 14px;
            }
            p {
                font-size: 14px;
                margin: 0;
            }
            .bookmark_icon {
                position: absolute;
                    right: 5px;
                    top: -8px;
                    font-size: 30px;
            }
        }
        .more_button {
            display: block;
            width: 100%;
            color: $black;
            text-decoration: none;
            box-shadow: 0 0 8px 2px rgba($black, .2);
            border-radius: 4px;
            text-align: center;
            padding: 5px;
            font-size: 14px;
        }
    }
    .blog_content_area {
        .item {
            display: block;
            text-decoration: none;
            color: $black;
            box-shadow: 0 0 8px 2px rgba($black, .2);
            border-radius: 4px;
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;
            .time {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40px;
                background: linear-gradient(to bottom, rgba($black, .9), rgba($black, 0));
                span {
                    float: right;
                    display: block;
                    padding: 5px 15px;
                    color: $white;
                    font-size: 14px;
                }
            }
            figure {
                margin: 0;
                height: 200px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            article {
                padding: 15px 10px;
                h6 {
                    font-weight: bold;
                    font-size: 14px;
                }
                p {
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
        .list_view {
            .item {
                display: flex;
                align-items: center;
                .time {
                    background: none;
                    span {
                        color: $black;
                    }
                } 
                figure {
                    width: 200px;
                    height: 150px;
                } 
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .blog_section {
        .top_search {
            .button i {
                display: none
            }
        }
        .bookmark {
            #filterToggle {
                display: block;
                margin-bottom: 20px;
            }
            #filter-box {
                display: none;
            }
        }

    }
}
@media screen and (max-width: 767px) {
    .blog_section {
        .top_search {
            .view_trigger {
                display: none;
            }
        }
        .blog_content_area {
            .item {
                display: flex;
                align-items: center;
                .time {
                    background: none;
                    span {
                        color: $black;
                    }
                } 
                figure {
                    width: 200px;
                    height: 150px;
                } 
            }
        }
    }
}
/* blog_section end */ 