@import 'partials/color';
@import 'partials/mixins';



/* blog_write_section start */
.blog_write_section {
    h1 {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 40px;
        letter-spacing: -2px;
        border-bottom: 1px solid #dbdbdb;
        font-family: 'Open Sans', sans-serif;
    }

    h2 {
        font-size: 32px;
        line-height: 42px;
        font-family: 'Open Sans', sans-serif;
    }

    h3 {
        font-size: 26px;
        line-height: 32px;
        font-family: 'Open Sans', sans-serif;
    }

    h4 {
        font-size: 24px;
        line-height: 28px;
        font-family: 'Open Sans', sans-serif;
    }

    p {
        margin-bottom: 30px;
        font-size: 19px;
    }

    a {
        color:black;
        text-decoration: none;
        transition: all .2s;
        &:hover {
            color: $green;
        }
    }



    pre {
        font-family: 'Menlo', monospace;
        font-size: 15px;
        background-color: #f0f0f0;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #666;
    }


    blockquote {
        display: block;
        padding-left: 20px;
        border-left: 6px solid #df0d32;
        margin-left: -15px;
        padding-left: 15px;
        font-style: italic;
        color: #555;
    }
    img {
        margin: 30px auto;
        display: block;
    }
    .editable,
    .secondEditable
    {
        outline: none;
        margin: 0;
        padding: 0 10px 20px;
    }
    .medium-editor-toolbar {
        z-index: 9999;
    }
    
    .add_visual_content {
        border-bottom: 1px solid #dbdbdb;
        text-align: center;
        .image_upload, .video_upload {
            input {
                display: none;
            }
        }
        li {
            display: inline-block;
            label {
                display: block;
                border: 1px solid rgba($black, .2);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                cursor: pointer;
                i {
                    font-size: 30px;
                }
            }
        }
    }
}
.modal {
    p {
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
    }
    input {
        width: 100%;
        height: 40px;
        padding: 0 5px;
        outline: 0;
        border-radius: 4px;
        border: 1px solid rgba($black, .2);
        margin-bottom: 10px;
    }
    textarea {
        width: 100%;
        padding: 5px;
        outline: 0;
        border-radius: 4px;
        border: 1px solid rgba($black, .2);
        margin-bottom: 10px;
    }
}
.drag {
    // border: 1px solid rgba($black, .2);
    background: $white;
    box-shadow: 0 0 3px 1px rgba($black, .1);
    border-right: 0;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: fixed;
    top: 155px;
    right: 0;
    width: 300px;
    .head_text {
        text-align: center;
        background: #edeff3;
        padding: 8px;
        font-weight: 700;
    }
    h5 {
        padding: 5px 5px 0;
        margin-bottom: 5px;
        text-align: center;
    }
    a {
        background: #f9f9ff;
        color: $black;
        display: block;
        width: 110px;
        padding: 4px;
        text-align: center;
        border-radius: 23px;
        border: 1px solid rgba($black, .1);
        margin: 10px auto;
        text-decoration: none;
        transition: all .2s;
        &:hover {
            box-shadow: 0px 1px 6px 1px rgba($black, .1);
        }
    }
}
@media screen and (max-width: 992px) {
    .drag {
        display: none;
    }
}
/* blog_write_section end */