@import 'partials/color';
@import 'partials/mixins';



/* blog_post_section start */ 
.blog_post_section {
    .left_info {
        .content {
            margin-top: 50px;
            .image {
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            p {
                margin-bottom: 10px;
            }
            .share_area {
                li {
                    a {
                        color: $black;
                        display: block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border: 1px solid rgba($black, .2);
                        margin-bottom: 10px;
                        font-size: 30px;
                        text-align: center;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .left_info_show {
        opacity: 1;
    }
    .blog_content {
        h1 {
            font-size: 60px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
            padding-bottom: 40px;
            letter-spacing: -2px;
            border-bottom: 1px solid #dbdbdb;
            font-family: 'Open Sans', sans-serif;
        }

        h2 {
            font-size: 32px;
            line-height: 42px;
            font-family: 'Open Sans', sans-serif;
        }

        h3 {
            font-size: 26px;
            line-height: 32px;
            font-family: 'Open Sans', sans-serif;
        }

        h4 {
            font-size: 24px;
            line-height: 28px;
            font-family: 'Open Sans', sans-serif;
        }

        p {
            margin-bottom: 30px;
            font-size: 19px;
        }

        a {
            color:black;
            text-decoration: none;
            transition: all .2s;
            &:hover {
                color: $green;
            }
        }



        pre {
            font-family: 'Menlo', monospace;
            font-size: 15px;
            background-color: #f0f0f0;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #666;
        }


        blockquote {
            display: block;
            padding-left: 20px;
            border-left: 6px solid #df0d32;
            margin-left: -15px;
            padding-left: 15px;
            font-style: italic;
            color: #555;
        }
        img {
            margin: 30px auto;
            display: block;
        }
        audio {
            width: 100%;
            filter: contrast(115%);
            border: 1px solid rgba($black, .1);
            outline: 0;
        }
        .publish_time {
            span {
                font-size: 14px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    height: 2px;
                    width: 100%;
                    background: rgba($black, .2);
                }
            }
        }
        .blog_footer {
            .tag {
                width: 100%;
                li {
                    display: inline-block;
                    a {
                        border: 1px solid rgba($black, .2);
                        border-radius: 4px;
                        display: block;
                        padding: 5px 10px;
                        font-size: 13px;
                        text-decoration: none;
                        color: $black;
                        margin: 0 2px 7px;
                    }
                }
            }
            .like {
                a {
                    border: 1px solid rgba($black, .2);
                    border-radius: 50%;
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 45px;
                    font-size: 30px;
                    text-align: center;
                    color: $black;
                }
            }
            .writter {
                .image {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 15px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .info {
                    .top {
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                    .heading {
                        font-size: 24px;
                        color: $black;
                        font-weight: bold;
                        text-decoration: none;
                        margin-bottom: 10px;
                        display: inline-block;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
            .see_response {
                border: 1px solid rgba($black, .2);
                display: block;
                width: 100%;
                padding: 20px 10px;
                margin-bottom: 30px;
                text-align: center;
                text-decoration: none;
                color: $black;
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .blog_section {
        .left_info .content {
            margin: 0;
            .share_area {
                display: none;
            }
        }
    }
}
/* blog_post_section end */