@import 'partials/color';
@import 'partials/mixins';

.call_to_action {
    margin-bottom: 30px;
    // for theme 01
    .theme_01 {
        box-shadow: 0 0 12px 2px rgba($black, .2);
        padding: 30px;
        label {
            font-weight: 700;
            color: rgba($black, .9);
        }
        input {
            width: 100%;
            padding: 0 5px 0 10px;
            font-size: 14px;
            height: 32px;
            background: #f3f3f3;
            border: 0;
            outline: 0;
        }
        .image {
            img {
                width: 100%;
            }
        }
        button {
            background: #665DF9;
            color: #fff;
            display: block;
            width: 110px;
            height: 35px;
            line-height: 33px;
            border: 0;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;
            margin: 30px auto 0;
        }
    }
    // for theme 02
    .theme_02 {
        background: url(../images/call_to_action/2.png);
        background-size: cover;
        background-position: top;
        padding: 40px 30px;
        color: #fff;
        h3 {
            font-weight: 700;
        }
        h5 {
            font-weight: 700;
        }
        a {
            color: #000;
            background: #F1D82E;
            display: block;
            width: 160px;
            height: 40px;
            line-height: 42px;
            text-align: center;
            border-radius: 20px;
            font-weight: 700;
            font-size: 15px;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 70px;
        }
    }
    // for theme 03
    .theme_03 {
        background: #F8F9FC;
        padding: 40px;
        h2 {
            font-weight: 700;
            color: #F9A828;
        }
        h4 {
            color: rgba($black, .7);
        }
        p {
            color: rgba($black, .9);
            font-size: 15px;
        }
        a {
            color: #fff;
            background: linear-gradient(to top, #D97A22, #EEC937);
            display: block;
            width: 140px;
            height: 35px;
            line-height: 37px;
            text-align: center;
            border-radius: 18px;
            font-weight: 700;
            font-size: 14px;
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    // for theme_04
    .theme_04 {
        background: url(../images/call_to_action/4.png);
        background-size: cover;
        background-position: center;
        padding: 40px;
        h4 {
            color: #fff;
            text-align: center;
            font-weight: 700;
        }
        h5 {
            color: #fff;
            text-align: center;
        }
        input {
            width: 100%;
            background: none;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 4px;
            outline: 0;
            height: 35px;
            padding: 0 10px;
            font-size: 14px;
            &::placeholder {
                color: #fff;
            }
        }
        button {
            display: block;
            width: 120px;
            height: 30px;
            background: #fff;
            color: #000;
            border: 0;
            border-radius: 4px;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
            margin: 0 auto;
        }
    }
    // for theme_05
    .theme_05 {
        background: url(../images/call_to_action/5.png);
        background-size: cover;
        background-position: top;
        box-shadow: 0 0 12px 2px rgba($black, .2);
        padding: 120px 40px 40px;
        h2 {
            color: #F9A828;
            font-weight: 700;
            margin-bottom: 0;
        }
        h4 {
            color: #AEAEAE;
            margin-bottom: 30px;
        }
        p {
            color: #AEAEAE;
            font-size: 14px;
        }
        a {
            background: linear-gradient(to top, #D77521, #F1D43A);
            display: block;
            width: 150px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 25px;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0 auto;
        }
    }
    // for theme_06
    .theme_06 {
        background: #F4F9FC;
        padding: 30px 40px;
        .icon {
            text-align: center;
            margin-bottom: 40px;
            img {
                width: 80px;
            }
        }
        input {
            display: block;
            margin: 0 auto;
            max-width: 320px;
            width: 100%;
            height: 35px;
            border: 0;
            border-radius: 18px;
            padding: 0 20px;
            font-size: 14px;
            box-shadow: 0 7px 7px 1px #EDF2F5;
        }
        button {
            background: #7BC74D;
            color: #fff;
            font-size: 13px;
            text-transform: uppercase;
            display: block;
            width: 150px;
            height: 40px;
            border: 0;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 0 7px 18px 1px rgba(#7BC74D, .5);
            margin: 0 auto;
        }
    }
}