@import 'partials/color';
@import 'partials/mixins';

// Google API Fira Code...
h1 {
    font-size: 10vw;
    text-align: center;
	text-shadow: 2px -1px 20px rgba(0,0,0,0.3);
	// text-transform: uppercase;
	margin: 0;
	color: #fff;
}




// Just for funzies and designs
.splitting .char {
	display: inline-block;	
}

.animation .splitting .char {
	animation-name: bounceLetters;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.64,.57,.67,1.53);
	animation-delay: calc(0.25s + var(--char-index) * 0.1s);
}

@keyframes bounceLetters {
	0% {
		font-weight: 300;
		transform: scale(1, 1) translateY(0);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0);
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-20px);
	}
	50% {
		font-weight: 500;
		transform: scale(1.05, 0.95) translateY(0);
	}
	57% {
		transform: scale(1, 1) translateY(-7px);
	}
	64% {
		transform: scale(1, 1) translateY(0);
	}
	100% {
		font-weight: 300;
		transform: scale(1, 1) translateY(0);
	}
}




.coming_soon_section {
    height: 100%;
    background: $green;
    color: #fff;
    font-family: 'Fira Code', mono-space;
    font-weight: 300; 
    position: relative;
    .back_home {
        position: absolute;
        top: 15px;
        left: 15px;
        color: $white;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all .2s;
        &:hover {
            transform: translateX(-3px);
        }
        i {
            background: $white;
            color: $green;
            width: 30px;
            height: 30px;
            line-height: 31px;
            display: block;
            text-align: center;
            border-radius: 50%;
            font-size: 22px;
            margin-right: 10px;
        }
        span {
            font-size: 18px;
        }
    }
}


#wrapper {
    width: 100%;
    min-height: 100vh;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}