@import 'partials/color';
@import 'partials/mixins';


/* contact style start */
.contact {
    background: linear-gradient(to right, $green 50%, $black 50%);
    padding: 10.5rem 0 5rem;
    .heading {
        color: $white;
        padding-bottom: 3rem;
        h2 {
            font-weight: bold;
        }
    }
    address {
        color: $white;
        i {
            margin-right: 10px;
        }
        a {
            color: $white;
        }
    }
    .social{
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                a{
                    font-size: 28px;
                    margin: 10px 15px 10px 0;
                    color: $white;
                    transition: all .3s;
                    &:hover{
                        color: darken( $white, 20%);
                    }
                }
            }
        }
    }
    button {
        background: none;
        color: $white;
        padding: 10px 20px;
        font-size: 13px;
        text-transform: uppercase;
        border: 2px solid $white;
        width: 100%;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            color: $black;
            background: $white;
        }
    }
    /* form starting stylings ------------------------------- */
    .group { 
        position:relative; 
        margin-bottom:30px; 
    }
    input, textarea {
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:100%;
        border:none;
        background: none;
        color: #fff;
        border-bottom:1px solid lighten($black, 40%);
    }
    input:focus, textarea:focus	{ outline:none; }

    /* LABEL ======================================= */
    label {
        color: lighten($black, 40%); 
        font-size:18px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
        top:-20px;
        font-size:14px;
    }


    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:100%; }
    .bar:before, .bar:after 	{
        content:'';
        height:1px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#fff; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }
    .bar:before {
        left:50%;
    }
    .bar:after {
        right:50%; 
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
        width:50%;
    }

    /* active state */
    input:focus ~ .highlight, textarea:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    /* form style end */

}
@media screen and (max-width: 992px) {
    .contact {
        background: $green;
        label {
            color: #ddd;
        }
        input, textarea {
            border-color: #ddd;
        }
    }
}
/* contact style end */