@import 'partials/color';
@import 'partials/mixins';


/* design_page start */ 
.design_page {
    background: #f9f9ff;
    min-height: 100vh;
    height: 100%;
    .design_aside_area {
        margin-bottom: 20px;
        #design_asideToggle {
            display: none;
            font-size: 40px;
            text-align: center;
            height: 40px;
            width: 40px;
            line-height: 48px;
            cursor: pointer;
            background: none;
            border-radius: 50%;
            border: 0;
            outline: 0;
        }
        #design_aside {
            .nav-pills .nav-link {
                text-align: center;
                border: 1px solid rgba($black, .1);
                color: $black;
                background: $white;
                font-weight: 600;
                width: 100%;
                padding: 12px 0;
                img {
                    display: block;
                    margin: 0 auto;
                }
                span {
                    display: block;
                    font-size: 14px;
                }
            }
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
                color: $white;
                background: $green;
            }
            .tab-content>.active {
                border: 1px solid rgba($black, .1);
                border-radius: 4px;
                position: relative;
                background: $white;
                .content_list {
                    margin-bottom: 0;
                    .top_title {
                        width: 100%;
                        background: #edeff3;
                        display: flex;
                        justify-content: space-between;
                        padding: 12px 15px;
                        font-weight: 600;
                        font-size: 14px;
                        color: $green;
                    }
                    li {
                        a {
                            display: block;
                            border-bottom: 1px solid rgba($black, .1);
                            padding: 8px 15px 5px;
                            color: $black;
                            font-weight: 600;
                            font-size: 14px;
                            text-decoration: none;
                            transition: all .1s;
                            &:hover {
                                background: $green;
                                color: $white;
                            }
                        }
                        .active {
                            background: $green;
                            color: $white;
                        }
                    }
                }
                .name_area {
                    padding: 10px 15px;
                    span {
                        display: block;
                        text-align: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $green;
                    }
                    input {
                        width: 100%;
                        height: 30px;
                        padding: 0 5px;
                        border: 0;
                        outline: 0;
                        box-shadow: 0 0 8px 2px rgba($black, .2);
                        border-radius: 4px;
                        margin: 20px 0;
                    }
                }
                .design_area {
                    .card-header {
                        padding: 0;
                        button {
                            color: $green;
                            font-size: 14px;
                            font-weight: 600;
                            text-decoration: none;
                            display: block;
                            width: 100%;
                            text-align: left;
                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                    .theme_trigger {
                        margin-bottom: 0;
                        li {
                            span {
                                color: $black;
                                font-size: 13px;
                                font-weight: 700;
                                text-decoration: none;
                                transition: all .1s;
                                cursor: pointer;
                                &:hover {
                                    color: $green;
                                }
                            }
                        }
                    }
                    .theme_color {
                        p {
                            font-weight: 700;
                            font-size: 13px;
                            margin-bottom: 5px;
                        }
                        li {
                            display: inline-block;
                            span {
                                display: block;
                                height: 25px;
                                width: 20px;
                                text-decoration: none;
                                margin-right: 2px;
                                border-radius: 2px;
                                transition: all .1s;
                                cursor: pointer;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                            #green {
                                background: #2ACBA4;
                            }
                            #blue {
                                background: #2879B8;
                            }
                            #orange {
                                background: #F27B21;
                            }
                            #red {
                                background: #EF3936;
                            }
                            #yellow {
                                background: #F8EF26;
                            }
                            #lime {
                                background: #A3CD3B;
                            }
                            #turquoise {
                                background: #14ADAA;
                            }
                            #pink {
                                background: #F499C2;
                            }
                            #magenta {
                                background: #D0256B;
                            }
                            #purple {
                                background: #613E98;
                            }
                            #cream {
                                background: #F1D69F;
                            }
                            #chocolate {
                                background: #513422;
                            }
                            #silver {
                                background: #A9B4BA;
                            }
                            #cobalt {
                                background: #183159;
                            }
                        }
                    }
                    .text_color {
                        margin-bottom: 0;
                        p {
                            font-weight: 700;
                            font-size: 13px;
                            margin-bottom: 5px;
                        }
                        li {
                            display: inline-block;
                            span {
                                display: block;
                                height: 25px;
                                width: 20px;
                                text-decoration: none;
                                margin-right: 2px;
                                border-radius: 2px;
                                transition: all .1s;
                                cursor: pointer;
                                &:hover {
                                    opacity: .5;
                                }
                            }
                            #text_light {
                                background: #f0f0f0;
                            }
                            #text_dark {
                                background: $black;
                            }
                        }
                    }
                    .btn_position_trigger {
                        margin-bottom: 0;
                        li {
                            span {
                                color: $black;
                                font-size: 13px;
                                font-weight: 700;
                                text-decoration: none;
                                transition: all .1s;
                                cursor: pointer;
                                &:hover {
                                    color: $green;
                                }
                            }
                        }
                    }
                }
                .generate_area {
                    padding: 10px 15px;
                    span {
                        display: block;
                        text-align: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $green;
                    }
                    textarea {
                        width: 100%;
                        padding: 0 5px;
                        border: 0;
                        outline: 0;
                        box-shadow: 0 0 8px 2px rgba($black, .2);
                        border-radius: 4px;
                        margin: 20px 0;
                        font-size: 14px;
                    }
                }
                .publish_area {
                    padding: 10px 15px;
                    span {
                        display: block;
                        text-align: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $green;
                    }
                    textarea {
                        width: 100%;
                        padding: 5px;
                        border: 0;
                        outline: 0;
                        box-shadow: 0 0 8px 2px rgba($black, .2);
                        border-radius: 4px;
                        margin: 20px 0;
                        font-size: 14px;
                    }
                }
                .reset_area {
                    padding: 10px 15px;
                    span {
                        display: block;
                        text-align: center;
                        font-weight: 600;
                        font-size: 14px;
                        color: $green;
                    }
                    button {
                        margin-top: 20px;
                        padding: 5px 10px 3px;
                    }
                }
            }
        }
    }

    .tutorial_area {
        background: #edeff3;
        padding: 15px;
        height: 100%;
        display: flex;
        align-items: center;
        border: 1px solid rgba($black, .1);
        border-radius: 2px;
        .content {
            text-align: center;
            font-size: 20px;
            width: 100%;
        }
    }


    .design_view_area {
        border: 1px solid rgba($black, .1);
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        background: $white;
        min-height: calc(100vh - 160px);
        height: 100%;
        .badge {
            position: absolute;
            top: 150px;
            left: 0;
            padding: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .header {
            width: 100%;
            background: $white;
            box-shadow: 0 1px 6px 1px rgba($black, .1);
            margin-bottom: 20px;
            .nav_bottom {
                background: $white;
                .navbar-toggler {
                    color: $black;
                    outline: 0;
                }
                .navbar-brand {
                    max-width: 80px;
                    img {
                        width: 100%;
                    }
                }
                .navbar-nav {
                    position: relative;
                }
                .nav-link {
                    margin: 0 8px;
                    color: $black;
                    font-weight: bold;
                    text-decoration: none;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 2px;
                        width: 0;
                        background: rgba($black, .2);
                        transition: all .3s;
                    }
                    &:hover{
                        &::before {
                            width: 100%;
                        }
                    }
                }
                .subscribe {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        .main_area {
            padding: 0 100px;
            article {
                margin-bottom: 15px;
                font-size: 14px;
            }
            .email_collector {
                .padding {
                    padding: 15px 15px 10px !important;
                }
                h2 {
                    font-size: 24px !important;
                }
                h3 {
                    font-size: 24px !important;
                }
                .theme_03 {
                    h3 {
                        font-size: 21px !important;
                    }
                }
                h4 {
                    font-size: 14px !important;
                }
                p {
                    font-size: 14px !important;
                }
                form {
                    .form-group {
                        margin-bottom: 16px;
                    }
                    input {
                        font-size: 12px;
                        height: 30px;
                    }
                    button {
                        font-size: 12px;
                        height: 23px;
                    }
                }
            }
        }

        .feedback {
            .right_feedback {
                position: absolute;
            }
            .right_feedback_content {
                position: absolute;
                .header {
                    background: linear-gradient(to right, #1B7863, #05A57B);
                    margin-bottom: 0;
                }
            }
        }
        .message_section {
            .message {
                position: absolute;
                bottom: 15px;
                right: 20px;
            }
            .message_content {
                position: absolute;
                bottom: -100%;
                .header {
                    background: linear-gradient(to right, #25665A, #06A279);
                    margin-bottom: 0;
                }
                .chat_box {
                    height: 300px;
                }
            }
            .message_content_show {
                bottom: 15px;
            }
        }
        .feedback_bottom {
            position: absolute;
            left: 10px;
            bottom: -100%;
            .header {
                background: linear-gradient(to right, #25665A, #06A279);
                margin-bottom: 0;
            }
        }
        .feedback_bottom_show {
            bottom: 15px;
        }
    }
    
}
.design_aside_area_button {
    background: $green;
    color: $white;
    border: 0;
    outline: 0;
    padding: 5px 30px 3px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    .design_page {
        .design_aside_area {
            #design_asideToggle {
                display: block;
                margin-bottom: 20px;
            }
            #design_aside {
                display: none;
            }
        }
        .tutorial_area {
            display: none;
        }
    }
}
@media screen and (max-width: 767px) {
    .design_page {
        .design_view_area {
            .main_area {
                padding: 0 30px;
            }
        }
    }
}
/* design_page end */ 





// onload popup 
.design_view_area_popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-open .modal {
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 99;
}
.modal-backdrop {
    display:none
}
.modal-backdrop.in {
    opacity: 0;
}
.modal {
    position: relative;
} 
