@import 'partials/color';
@import 'partials/mixins';


/* color area start  */
/* text_dark */
.e_text_dark {
    .background {
        h2 {
            color: $black !important;
        }
        h4 {
            color: $black !important;
        }
        input {
            color: $black !important;
            &::placeholder {
                color: $black !important;
            }
        }
        button {
            color: $black !important;
        }
    }
}
/* text_dark */
.e_text_light {
    .background {
        h2 {
            color: $white !important;
        }
        h4 {
            color: $white !important;
        }
        input {
            color: $white !important;
            &::placeholder {
                color: $white !important;
            }
        }
        button {
            color: $white !important;
        }
    }
}

// color area
/* green */
.e_green {
    .background {
        background: #2ACBA4 !important;
    }
    button {
        background: #2ACBA4 !important;
    }
    h3 {
        color: #2ACBA4 !important;
    }
}
/* blue */
.e_blue {
    .background {
        background: #2879B8 !important;
    }
    button {
        background: #2879B8 !important;
    }
    h3 {
        color: #2879B8 !important;
    }
}
/* orange */
.e_orange {
    .background {
        background: #F27B21 !important;
    }
    button {
        background: #F27B21 !important;
    }
    h3 {
        color: #F27B21 !important;
    }
}
/* red */
.e_red {
    .background {
        background: #EF3936 !important;
    }
    button {
        background: #EF3936 !important;
    }
    h3 {
        color: #EF3936 !important;
    }
}
/* yellow */
.e_yellow {
    .background {
        background: #F8EF26 !important;
    }
    button {
        background: #F8EF26 !important;
    }
    h3 {
        color: #F8EF26 !important;
    }
}
/* lime */
.e_lime {
    .background {
        background: #A3CD3B !important;
    }
    button {
        background: #A3CD3B !important;
    }
    h3 {
        color: #A3CD3B !important;
    }
}
/* turquoise */
.e_turquoise {
    .background {
        background: #14ADAA !important;
    }
    button {
        background: #14ADAA !important;
    }
    h3 {
        color: #14ADAA !important;
    }
}
/* pink */
.e_pink {
    .background {
        background: #F499C2 !important;
    }
    button {
        background: #F499C2 !important;
    }
    h3 {
        color: #F499C2 !important;
    }
}
/* magenta */
.e_magenta {
    .background {
        background: #D0256B !important;
    }
    button {
        background: #D0256B !important;
    }
    h3 {
        color: #D0256B !important;
    }
}
/* purple */
.e_purple {
    .background {
        background: #613E98 !important;
    }
    button {
        background: #613E98 !important;
    }
    h3 {
        color: #613E98 !important;
    }
}
/* cream */
.e_cream {
    .background {
        background: #F1D69F !important;
    }
    button {
        background: #F1D69F !important;
    }
    h3 {
        color: #F1D69F !important;
    }
}
/* chocolate */
.e_chocolate {
    .background {
        background: #513422 !important;
    }
    button {
        background: #513422 !important;
    }
    h3 {
        color: #513422 !important;
    }
}
/* silver */
.e_silver {
    .background {
        background: #A9B4BA !important;
    }
    button {
        background: #A9B4BA !important;
    }
    h3 {
        color: #A9B4BA !important;
    }
}
/* cobalt */
.e_cobalt {
    .background {
        background: #183159 !important;
    }
    button {
        background: #183159 !important;
    }
    h3 {
        color: #183159 !important;
    }
}
/* color area end */

/* email_collector start */
.email_collector {
    margin-bottom: 30px;
    // theme 01
    .theme_01 {
        background: linear-gradient(to right, #1E7361, #04A57A);
        .padding {
            padding: 30px;
        }
        h2 {
            font-weight: 700;
            font-size: 28px !important;
            text-align: center;
            font-family: 'Spectral', serif !important;
        }
        h4 {
            font-size: 18px !important;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
            font-family: 'Spectral', serif !important;
        }
        input {
            max-width: 350px;
            width: 100%;
            height: 35px;
            padding: 0 15px;
            outline: 0;
            border: 1px solid rgba($white, .5);
            border-radius: 2px;
            display: block;
            margin: 0 auto;
            background: none;
        }
        .background {
            button {
                width: 100px;
                height: 30px;
                display: block;
                font-weight: 700;
                border: 2px solid rgba($white, .5);
                border-radius: 4px;
                outline: 0;
                transition: all .2s;
                cursor: pointer;
                margin: 0 auto;
                background: none;
                &:hover {
                    transform: scale(.95);
                }
            }
        }
    }
    // theme 02
    .theme_02 {
        background: #fff;
        box-shadow: 0 0 9px 1px rgba($black, .1);
        .padding {
            padding: 30px;
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
                max-width: 250px;
                width: 100%;
            }
        }
        h3 {
            font-weight: 700;
            font-size: 28px !important;
            font-family: 'Spectral', serif !important;
            margin-bottom: 10px;
        }
        h6 {
            font-size: 16px;
            margin-bottom: 10px;
            color: lighten($black, 40%);
        }
        p {
            font-size: 16px !important;
            margin-bottom: 7px !important;
        }
        .form-group {
            margin-bottom: 30px;
        }
        input {
            max-width: 350px;
            width: 100%;
            height: 35px;
            padding: 0;
            outline: 0;
            border: 0;
            border-bottom: 1px solid lighten($black, 40%);
            border-radius: 0;
            display: block;
            margin: 0 auto;
            background: none;
            color: lighten($black, 20%);
            &::placeholder {
                color: lighten($black, 20%);
            }
        }
        button {
            width: 100px;
            height: 40px;
            display: block;
            font-weight: 700;
            border: 0;
            border-radius: 20px;
            outline: 0;
            transition: all .2s;
            cursor: pointer;
            margin: 0 auto;
            color: $white;
            &:hover {
                transform: scale(.95);
            }
        }
    }
    // theme 03
    .theme_03 {
        background: #F8F9FC;
        .padding {
            padding: 30px;
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
                max-width: 150px;
                width: 100%;
            }
        }
        h3 {
            font-weight: 700;
            font-size: 27px !important;
            font-family: 'Spectral', serif !important;
            margin-bottom: 25px;
        }
        p {
            font-size: 16px !important;
            margin-bottom: 7px !important;
        }
        .form-group {
            margin-bottom: 30px;
        }
        input {
            max-width: 350px;
            width: 100%;
            height: 35px;
            padding: 0;
            outline: 0;
            border: 0;
            border-bottom: 1px solid lighten($black, 40%);
            border-radius: 0;
            display: block;
            margin: 0 auto;
            background: none;
            color: lighten($black, 20%);
            &::placeholder {
                color: lighten($black, 40%);
            }
        }
        button {
            width: 100px;
            height: 40px;
            display: block;
            font-weight: 700;
            border: 0;
            border-radius: 20px;
            outline: 0;
            transition: all .2s;
            cursor: pointer;
            margin: 0 auto;
            color: $white;
            &:hover {
                transform: scale(.95);
            }
        }
    }
    // theme 04
    .theme_04 {
        background: #fff;
        box-shadow: 0 0 9px 1px rgba($black, .1);
        .padding {
            padding: 30px;
        }
        .image_area {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: url(../images/email_collector/bg_1.png);
            background-size: cover;
            background-position: center;
            padding: 30px;
            .image {
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                border-radius: 50%;
                img {
                    width: 100px;
                    height: 100px;
                    margin-top: 20px;
                }
            }
        }
        h3 {
            font-weight: 700;
            font-size: 28px !important;
            font-family: 'Spectral', serif !important;
            margin-bottom: 10px;
        }
        h6 {
            font-size: 16px;
            margin-bottom: 10px;
            color: lighten($black, 40%);
        }
        p {
            font-size: 16px !important;
            margin-bottom: 7px !important;
        }
        .form-group {
            margin-bottom: 30px;
        }
        input {
            max-width: 350px;
            width: 100%;
            height: 35px;
            padding: 0;
            outline: 0;
            border: 0;
            border-bottom: 1px solid lighten($black, 40%);
            border-radius: 0;
            display: block;
            margin: 0 auto;
            background: none;
            color: lighten($black, 20%);
            &::placeholder {
                color: lighten($black, 40%);
            }
        }
        button {
            width: 100px;
            height: 40px;
            display: block;
            font-weight: 700;
            border: 0;
            border-radius: 20px;
            outline: 0;
            transition: all .2s;
            cursor: pointer;
            margin: 0 auto;
            color: $white;
            &:hover {
                transform: scale(.95);
            }
        }
    }
    // theme 05
    .theme_05 {
        background: $black;
        .padding {
            padding: 30px;
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
                max-width: 250px;
                width: 100%;
            }
        }
        h3 {
            font-weight: 700;
            font-size: 28px !important;
            font-family: 'Spectral', serif !important;
            margin-bottom: 10px;
        }
        h6 {
            font-size: 16px;
            margin-bottom: 10px;
            color: lighten($black, 60%);
        }
        p {
            font-size: 16px !important;
            margin-bottom: 7px !important;
            color: lighten($black, 50%);
        }
        .form-group {
            margin-bottom: 30px;
        }
        input {
            max-width: 350px;
            width: 100%;
            height: 35px;
            padding: 0;
            outline: 0;
            border: 0;
            border-bottom: 1px solid lighten($black, 60%);
            border-radius: 0;
            display: block;
            margin: 0 auto;
            background: none;
            color: lighten($black, 60%);
            &::placeholder {
                color: lighten($black, 60%);
            }
        }
        button {
            width: 100px;
            height: 40px;
            display: block;
            font-weight: 700;
            border: 0;
            border-radius: 20px;
            outline: 0;
            transition: all .2s;
            cursor: pointer;
            margin: 0 auto;
            color: $white;
            &:hover {
                transform: scale(.95);
            }
        }
    }
    // theme 06
    .theme_06 {
        background: $black;
        .padding {
            padding: 30px;
        }
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            img {
                max-width: 150px;
                width: 100%;
            }
        }
        h3 {
            font-weight: 700;
            font-size: 27px !important;
            font-family: 'Spectral', serif !important;
            margin-bottom: 25px;
        }
        p {
            font-size: 16px !important;
            margin-bottom: 7px !important;
            color: lighten($black, 50%);
        }
        .form-group {
            margin-bottom: 30px;
        }
        input {
            max-width: 350px;
            width: 100%;
            height: 35px;
            padding: 0;
            outline: 0;
            border: 0;
            border-bottom: 1px solid lighten($black, 60%);
            border-radius: 0;
            display: block;
            margin: 0 auto;
            background: none;
            color: lighten($black, 60%);
            &::placeholder {
                color: lighten($black, 60%);
            }
        }
        button {
            width: 100px;
            height: 40px;
            display: block;
            font-weight: 700;
            border: 0;
            border-radius: 20px;
            outline: 0;
            transition: all .2s;
            cursor: pointer;
            margin: 0 auto;
            color: $white;
            &:hover {
                transform: scale(.95);
            }
        }
    }
}
/* email_collector end */