@import 'partials/color';
@import 'partials/mixins';

/* color area start  */
/* text_dark */
// .fb_text_dark {
    
// }
/* text_dark */
// .fb_text_light {
    
// }

// color area
/* green */
.fb_green {
    .right_feedback {
        background: #2ACBA4 !important;
    }
    .right_feedback_content .header {
        background: #2ACBA4 !important;
    }
    .right_feedback_content button {
        background: #2ACBA4 !important;
    }
}
/* blue */
.fb_blue {
    .right_feedback {
        background: #2879B8 !important;
    }
    .right_feedback_content .header {
        background: #2879B8 !important;
    }
    .right_feedback_content button {
        background: #2879B8 !important;
    }
}
/* orange */
.fb_orange {
    .right_feedback {
        background: #F27B21 !important;
    }
    .right_feedback_content .header {
        background: #F27B21 !important;
    }
    .right_feedback_content button {
        background: #F27B21 !important;
    }
}
/* red */
.fb_red {
    .right_feedback {
        background: #EF3936 !important;
    }
    .right_feedback_content .header {
        background: #EF3936 !important;
    }
    .right_feedback_content button {
        background: #EF3936 !important;
    }
}
/* yellow */
.fb_yellow {
    .right_feedback {
        background: #F8EF26 !important;
    }
    .right_feedback_content .header {
        background: #F8EF26 !important;
    }
    .right_feedback_content button {
        background: #F8EF26 !important;
    }
}
/* lime */
.fb_lime {
    .right_feedback {
        background: #A3CD3B !important;
    }
    .right_feedback_content .header {
        background: #A3CD3B !important;
    }
    .right_feedback_content button {
        background: #A3CD3B !important;
    }
}
/* turquoise */
.fb_turquoise {
    .right_feedback {
        background: #14ADAA !important;
    }
    .right_feedback_content .header {
        background: #14ADAA !important;
    }
    .right_feedback_content button {
        background: #14ADAA !important;
    }
}
/* pink */
.fb_pink {
    .right_feedback {
        background: #F499C2 !important;
    }
    .right_feedback_content .header {
        background: #F499C2 !important;
    }
    .right_feedback_content button {
        background: #F499C2 !important;
    }
}
/* magenta */
.fb_magenta {
    .right_feedback {
        background: #D0256B !important;
    }
    .right_feedback_content .header {
        background: #D0256B !important;
    }
    .right_feedback_content button {
        background: #D0256B !important;
    }
}
/* purple */
.fb_purple {
    .right_feedback {
        background: #613E98 !important;
    }
    .right_feedback_content .header {
        background: #613E98 !important;
    }
    .right_feedback_content button {
        background: #613E98 !important;
    }
}
/* cream */
.fb_cream {
    .right_feedback {
        background: #F1D69F !important;
    }
    .right_feedback_content .header {
        background: #F1D69F !important;
    }
    .right_feedback_content button {
        background: #F1D69F !important;
    }
}
/* chocolate */
.fb_chocolate {
    .right_feedback {
        background: #513422 !important;
    }
    .right_feedback_content .header {
        background: #513422 !important;
    }
    .right_feedback_content button {
        background: #513422 !important;
    }
}
/* silver */
.fb_silver {
    .right_feedback {
        background: #A9B4BA !important;
    }
    .right_feedback_content .header {
        background: #A9B4BA !important;
    }
    .right_feedback_content button {
        background: #A9B4BA !important;
    }
}
/* cobalt */
.fb_cobalt {
    .right_feedback {
        background: #183159 !important;
    }
    .right_feedback_content .header {
        background: #183159 !important;
    }
    .right_feedback_content button {
        background: #183159 !important;
    }
}
/* color area end */


/* right_feedback start */
.right_feedback {
    background: linear-gradient(to top, #236A5C, #06A279);
    position: fixed;
    top: 30%;
    right: -2px;
    height: 145px;
    padding: 4px;
    border-radius: 4px;
    transition: all .2s;
    cursor: pointer;
    &:hover {
        box-shadow: -3px 0 20px 2px rgba($black, .3);
        .head {
            padding-right: 3px;
        }
    }
    .head {
        text-align: center;
        height: 100%;
        writing-mode: vertical-rl; 
        color: $white;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }
}
/* right_feedback end */


/* right_feedback_content start */
.right_feedback_content {
    position: fixed;
    top: 30%;
    right: -400px;
    width: 320px;
    box-shadow: 0 0 20px 3px rgba($black, .3);
    border-radius: 4px;
    transition: all .3s;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        background: linear-gradient(to right, #1B7863, #05A57B);
        position: relative;
        .radio_type {
            width: 60px;
            display: block;
            text-align: center;
            label {
                display: block;
                margin: 0;
                color: $white;
                cursor: pointer;
                padding: 10px 0;
                img {
                    height: 30px;
                    width: 30px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 12px;
                    margin: 0;
                }
            }
            input {
                display: none;
            }
            input:checked + label {
                background: rgba($black, .3);
                border-radius: 2px;
            }
        }
        .feedback_close {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
            height: 20px;
            line-height: 23px;
            border-radius: 50%;
            cursor: pointer;
            color: #ffffff;
            text-align: center;
            font-size: 12px;
            background: rgba($black, .3);
            transition: all .2s;
            &:hover {
                color: rgba($white, .6);
            }
        }
    }
    textarea {
        width: 100%;
        margin-bottom: -7px;
        padding: 20px;
        outline: 0;
        font-size: 14px;
        border: 0;
        background: #fafafa;
    }
    .submit_area {
        background: $white;
        padding: 8px 0;
        button {
            display: block;
            width: 70px;
            background: $green;
            color: $white;
            margin: 0 auto;
            border: 0;
            outline: 0;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}
.right_feedback_content_show {
    right: -2px;
}
/* right_feedback_content end */