@import 'partials/color';
@import 'partials/mixins';


// color area
/* green */
.fb_b_green {
    .header {
        background: #2ACBA4 !important;
    }
    .submit_area button {
        background: #2ACBA4 !important;
    }
}
/* blue */
.fb_b_blue {
    .header {
        background: #2879B8 !important;
    }
    .submit_area button {
        background: #2879B8 !important;
    }
}
/* orange */
.fb_b_orange {
    .header {
        background: #F27B21 !important;
    }
    .submit_area button {
        background: #F27B21 !important;
    }
}
/* red */
.fb_b_red {
    .header {
        background: #EF3936 !important;
    }
    .submit_area button {
        background: #EF3936 !important;
    }
}
/* yellow */
.fb_b_yellow {
    .header {
        background: #F8EF26 !important;
    }
    .submit_area button {
        background: #F8EF26 !important;
    }
}
/* lime */
.fb_b_lime {
    .header {
        background: #A3CD3B !important;
    }
    .submit_area button {
        background: #A3CD3B !important;
    }
}
/* turquoise */
.fb_b_turquoise {
    .header {
        background: #14ADAA !important;
    }
    .submit_area button {
        background: #14ADAA !important;
    }
}
/* pink */
.fb_b_pink {
    .header {
        background: #F499C2 !important;
    }
    .submit_area button {
        background: #F499C2 !important;
    }
}
/* magenta */
.fb_b_magenta {
    .header {
        background: #D0256B !important;
    }
    .submit_area button {
        background: #D0256B !important;
    }
}
/* purple */
.fb_b_purple {
    .header {
        background: #613E98 !important;
    }
    .submit_area button {
        background: #613E98 !important;
    }
}
/* cream */
.fb_b_cream {
    .header {
        background: #F1D69F !important;
    }
    .submit_area button {
        background: #F1D69F !important;
    }
}
/* chocolate */
.fb_b_chocolate {
    .header {
        background: #513422 !important;
    }
    .submit_area button {
        background: #513422 !important;
    }
}
/* silver */
.fb_b_silver {
    .header {
        background: #A9B4BA !important;
    }
    .submit_area button {
        background: #A9B4BA !important;
    }
}
/* cobalt */
.fb_b_cobalt {
    .header {
        background: #183159 !important;
    }
    .submit_area button {
        background: #183159 !important;
    }
}
/* color area end */


/* feedback_bottom start */
.feedback_bottom {
    position: fixed;
    left: 30px;
    bottom: -100%;
    width: 320px;
    box-shadow: 0 0 20px 3px rgba($black, .3);
    border-radius: 4px;
    transition: all .3s;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        background: linear-gradient(to right, #1B7863, #05A57B);
        position: relative;
        .radio_type {
            width: 60px;
            display: block;
            text-align: center;
            label {
                display: block;
                margin: 0;
                color: $white;
                cursor: pointer;
                padding: 10px 0;
                img {
                    height: 30px;
                    width: 30px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 12px;
                    margin: 0;
                }
            }
            input {
                display: none;
            }
            input:checked + label {
                background: rgba($black, .3);
                border-radius: 2px;
            }
        }
        .feedback_bottom_close {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
            height: 20px;
            line-height: 23px;
            border-radius: 50%;
            cursor: pointer;
            color: #ffffff;
            text-align: center;
            font-size: 12px;
            background: rgba($black, .3);
            transition: all .2s;
            &:hover {
                color: rgba($white, .6);
            }
        }
    }
    textarea {
        width: 100%;
        margin-bottom: -7px;
        padding: 20px;
        outline: 0;
        font-size: 14px;
        border: 0;
        background: #fafafa;
    }
    .submit_area {
        background: $white;
        padding: 8px 0;
        button {
            display: block;
            width: 70px;
            background: $green;
            color: $white;
            margin: 0 auto;
            border: 0;
            outline: 0;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}
.feedback_bottom_show {
    bottom: 30px;
}
@media screen and (max-width: 480px) {
    .feedback_bottom {
        left: 0;
    }
    .feedback_bottom_show {
        bottom: 0;
    }
}
/* feedback_bottom end */