@import 'partials/color';
@import 'partials/mixins';

/* color area start  */
/* text_dark */
.h_text_dark {
    .nav-link {
        color: $black !important;
        &::before {
            background: rgba($black, .2) !important;
        }
    }
    .follow_button {
        border: 1px solid rgba($black, .1) !important;
    }
}
/* text_dark */
.h_text_light {
    .nav-link {
        color: $white !important;
        &::before {
            background: rgba($white, .2) !important;
        }
    }
    .follow_button {
        border: 1px solid rgba($white, .1) !important;
    }
}

// color area
/* green */
.h_green {
    background: #2ACBA4 !important;
}
/* blue */
.h_blue {
    background: #2879B8 !important;
}
/* orange */
.h_orange {
    background: #F27B21 !important;
}
/* red */
.h_red {
    background: #EF3936 !important;
}
/* yellow */
.h_yellow {
    background: #F8EF26 !important;
}
/* lime */
.h_lime {
    background: #A3CD3B !important;
}
/* turquoise */
.h_turquoise {
    background: #14ADAA !important;
}
/* pink */
.h_pink {
    background: #F499C2 !important;
}
/* magenta */
.h_magenta {
    background: #D0256B !important;
}
/* purple */
.h_purple {
    background: #613E98 !important;
}
/* cream */
.h_cream {
    background: #F1D69F !important;
}
/* chocolate */
.h_chocolate {
    background: #513422 !important;
}
/* silver */
.h_silver {
    background: #A9B4BA !important;
}
/* cobalt */
.h_cobalt {
    background: #183159 !important;
}
/* color area end */