@import 'partials/init';
@import 'partials/color';
@import 'partials/mixins';

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: 0 1px 6px 1px rgba($black, .1);
    z-index: 999;
    .nav_top {
        border-bottom: 1px solid rgba($black, .1);
        .nav_top_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .brand {
                max-width: 147px;
                width: 100%;
                img {
                    width: 100%;
                }
            }
            ul {
                margin-bottom: 0;
                li {
                    display: inline-block;
                    .nav_link {
                        margin: 0 8px;
                        display: block;
                        height: 60px;
                        line-height: 60px;
                        color: $black;
                        text-decoration: none;
                        position: relative;
                        font-size: 30px;
                        &:hover .badge{
                            display: block;
                        }
                        .badge {
                            display: none;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            background: $black;
                            color: #f9f9ff;
                            font-size: 12px;
                            transition: all .2s;
                        }
                        .user_image {
                            width: 40px;
                            height: 40px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                    }
                    .dropdown-menu.show {
                        top: -1px !important;
                    }
                }
                .nav-link {
                    margin: 0 8px;
                    height: 60px;
                    line-height: 45px;
                    color: $black;
                    font-weight: bold;
                    text-decoration: none;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 10px;
                        height: 2px;
                        width: 0;
                        background: rgba($black, .2);
                        transition: all .3s;
                    }
                    &:hover{
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
            .dropdown-toggle:after { content: none }
        }
    }
    .nav_top_hide {
        height: 0;
    }
    .nav_bottom {
        background: $white;
        .navbar-toggler {
            color: $black;
            outline: 0;
        }
        .navbar-brand {
            max-width: 80px;
            img {
                width: 100%;
            }
        }
        .navbar-nav {
            position: relative;
        }
        .nav-link {
            margin: 0 8px;
            color: $black;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                width: 0;
                background: rgba($black, .2);
                transition: all .3s;
            }
            &:hover{
                &::before {
                    width: 100%;
                }
            }
        }
        .subscribe {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
// responsive
@media screen and (max-width: 576px) {
    .nav_top_content {
        .brand {
            max-width: 100px !important;
        }
        .nav_link {
            font-size: 20px !important;
            margin: 0 3px !important;
            .user_image {
                height: 30px !important;
                width: 30px !important;
            }
        }
        .nav-link {
            font-size: 13px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
/* header end */ 



/* signup_login Modal start */ 
#signup_loginModal {
    .modal-body {
        padding: 60px 15px;
        border-radius: 2px;
        position: relative;
        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            background: #eee;
            width: 40px;
            height: 40px;
            line-height: 43px;
            text-align: center;
            border-radius: 50%;
            font-size: 18px;
        }
        h2 {
            text-align: center;
            font-weight: 700;
            display: none;
        }
        .description {
            text-align: center;
            margin-bottom: 41px;
            display: none;
        }
        .signup_area {
            display: none;
            .third_party {
                display: block;
                width: 230px;
                margin: 15px auto;
                border: 2px solid rgba($black, .2);
                border-radius: 5px;
                font-size: 16px;
                padding: 5px 0 5px 20px;
                color: $black;
                text-decoration: none;
                transition: all .2s;
                &:hover {
                    box-shadow: 1px 1px 6px 1px rgba($black, .1);
                }
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
            .signup_form_trigger {
                display: block;
                width: 160px;
                background: $green;
                color: $white;
                margin: 20px auto;
                border-radius: 5px;
                text-align: center;
                padding: 2px 0;
                text-decoration: none;
            }
        }
        .signup_form {
            display: none;
            input {
                margin: 15px auto;
                display: block;
                width: 230px;
                border: 2px solid rgba($black, .2);
                border-radius: 5px;
                padding: 5px 15px;
                outline: 0;
                font-size: 16px;
            }
            .submit_btn {
                display: block;
                width: 100px;
                background: $green;
                color: $white;
                margin: 20px auto;
                border-radius: 5px;
                text-align: center;
                padding: 2px 0;
                border: 0;
                outline: 0;
                cursor: pointer;
            }
        }
        .signin_form {
            @extend .signup_form;
            .third_party {
                display: block;
                width: 230px;
                margin: 15px auto;
                border: 2px solid rgba($black, .2);
                border-radius: 5px;
                font-size: 16px;
                padding: 5px 0 5px 20px;
                color: $black;
                text-decoration: none;
                transition: all .2s;
                &:hover {
                    box-shadow: 1px 1px 6px 1px rgba($black, .1);
                }
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
        }
        .signin_trigger_area {
            display: none;
            text-align: center;
            font-size: 17px;
            .signin_trigger {
                color: $green;
                font-weight: 700;
            }
        }
        .signup_trigger_area {
            display: none;
            text-align: center;
            font-size: 17px;
            .signup_trigger {
                color: $green;
                font-weight: 700;
            }
        }
        .active {
            display: block;
        }
    }
}

// responsive
@media (min-width: 992px) {
    #signup_loginModal {
        .modal-lg {
            max-width: 920px;
        }
        .modal-body {
            background: url(../images/signup_modal_bg.jpg);
        }
    }
}
@media (max-width: 576px) {
    #signup_loginModal {
        .modal-body {
            .description br {
                display: none;
            }
        }
    }
}
/* signup_login Modal end */ 



/* home_body start */ 
.home_body {
    padding: 70px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    background: url(../images/home_bg.jpg);
    background-size: cover;
    background-position: bottom;
    .home_content {
        border-radius: 10px;
        width: 100%;
        height: 77vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        .home_content_button {
            background: rgba($black, .6);
            width: 150px;
            height: 50px;
            line-height: 55px;
            display: block;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            font-weight: bold;
            border-radius: 10px;
            z-index: 3;
            transition: all .3s;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
    .design {
        background: url(../images/home_content_bg/design_bg.jpg);
        background-size: cover;
        background-position: center;
        .background-wrap {
            .x1 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x2 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x3 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x4 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x5 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x6 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x7 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x8 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x9 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
            .x10 {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                transform: scale(1);
            }
        }
    }
    .read {
        background: url(../images/home_content_bg/read_bg.jpg);
        background-size: cover;
        background-position: center;
    }
    .write {
        background: url(../images/home_content_bg/write_bg.jpg);
        background-size: cover;
        background-position: center;
    }
}


/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 70%;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 70%;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 70%;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -10%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 0;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 5%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 10%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 20%;
	top: 60%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 25%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 33%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 40%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 45%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 40%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    height: 200px;
	position: absolute;
	width: 200px;
}
// responsive
@media screen and (max-width: 767px) {
    .home_body .home_content {
        height: 25vh;
    }
}
/* home_body end */ 


/* how_work style start */
.how_work {
    padding: 50px 0;
    .top_content {
        h1 {
            font-size: 80px;
            font-weight: bold;
            letter-spacing: 1px;
            color: $black;
        }
        h6 {
            font-size: 18px;
        }
    }
    .step {
        padding-top: 50px;
        .number {
            width: 70px;
            height: 70px;
            line-height: 72px;
            border-radius: 50%;
            text-align: center;
            color: $white;
            font-size: 35px;
            box-shadow: 3px 3px 12px 1px rgba($black, .3);
            margin-bottom: 30px;
        }
        .design {
            background: #EA4336;
        }
        .write {
            background: #4285F4;
        }
        .read {
            background: #34A853;
        }
        h1 {
            margin-bottom: 20px;
        }
        .card {
            border-radius: 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }
        .card-header {
            padding: 0;
            background: none;
            button {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 20px 0;
                font-weight: bold;
                text-decoration: none;
                color: $black;
                i {
                    transition: all .2s;
                }
            }
            .collapsed {
                i {
                    transform: rotate(180deg);
                }
            }
        }
        .card-body {
            padding: 15px 0;
        }
        .gif {
            padding-top: 50px;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
} 
// responsive
@media screen and (max-width: 992px) {
    .how_work {
        .top_content {
            .image {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .how_work {
        .top_content {
            h1 {
                font-size: 35px;
            }
        }
        .step {
            .title {
                font-size: 28px;
            }
        }
    }
}
/* how_work style end */ 



/* home_social style start */ 
.home_social {
    background: #f9f9ff;
    padding: 50px 0;
    text-align: center;
    ul {
        margin: 0;
        li {
            display: inline-block;
            margin: 0 5px;
            a {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 20px;
                border-radius: 50%;
                background: $green;
                color: $white;
                box-shadow: 2px 2px 8px 1px rgba($black, .3);
            }
        }
    }
}
/* home_social style end */ 



/* footer style start */
footer {
    background: $white;
    padding: 50px 0 30px;
    color: $black;
    border-top: 1px solid darken($white, 20%);
    h4 {
        font-weight: bold;
    }
    a{
        display: block;
        color: $black;
        transition: all .7s;
        margin-bottom: 15px;
        font-size: 14px;
        &:hover{
            color: $green;
        }

    }
    p{
        line-height: 28px;
        font-size: 14px;
        margin-bottom: 0;
        a {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    button {
        width: 100%;
        padding: 10px 20px;
        border: 2px solid $green;
        background: none;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background: $green;
            color: $white;
        }
    }
    .footer_bottom{
        border-top: 1px solid darken($white, 20%);
        text-align: center;
        padding-top: 30px;
        margin-top: 30px;
        p{
            margin: 0;
            font-size: 12px;
        }
    }
    /* form starting stylings ------------------------------- */
    .group { 
        position:relative; 
        margin-bottom:30px; 
    }
    input, textarea {
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:100%;
        border:none;
        background: none;
        color: $black;
        border-bottom: 1px solid lighten($black, 30%);
    }
    input:focus, textarea:focus	{ outline:none; }

    /* LABEL ======================================= */
    label {
        color: lighten($black, 40%); 
        font-size:18px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
        top:-20px;
        font-size:14px;
    }


    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:100%; }
    .bar:before, .bar:after 	{
        content:'';
        height:1px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:#fff; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }
    .bar:before {
        left:50%;
    }
    .bar:after {
        right:50%; 
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
        width:50%;
    }

    /* active state */
    input:focus ~ .highlight, textarea:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }
    /* form style end */
}
/* footer style end */



/* cookie_popup style start */
.cookie_popup {
    background: #4285F4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    color: $white;
    text-align: center;
    transition: all 1.5s;
    p {
        font-size: 14px;
    }
    .button {
        background: $green;
        color: $white;
        text-decoration: none;
        padding: 0 5px;
        border-radius: 4px;
        display: inline-block;
        transition: all .2s;
        border: 0;
        outline: 0;
        cursor: pointer;
        &:hover {
            // transform: translateY(-2px);
            box-shadow: 0 1px 12px 1px rgba($black, .3);
        }
    }
}
.cookie_hide {
    bottom: -100%;
}
/* cookie_popup style end */