@import 'partials/color';
@import 'partials/mixins';

.message_board {
    padding: 90px 0 0;
    aside {
        background: url(../images/home_content_bg/write_bg.jpg);
        background-size: cover;
        background-position: center;
        color: $white;
        .header {
            display: flex;
            align-items: center;
            padding: 30px 30px;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
            p {
                margin: 0;
                font-size: 17px;
                font-weight: 700;
            }
        }
        .search_input {
            margin: 0 30px 15px;
            background: $white;
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            label {
                color: $black;
                position: absolute;
                top: 8px;
                left: 27px;
            }
            input {
                width: 100%;
                border: 0;
                outline: 0;
                height: 38px;
                padding: 0 10px 0 50px;
            }
        }
        .conversation_slider_area {
            .header {
                padding: 0 30px 8px;
            }
            .conversation_slider {
                padding: 0 30px;
                .item {
                    position: relative;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                    span {
                        position: absolute;
                        top: 0;
                        left: 6px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #AEAEAE;
                    }
                    .online {
                        background: #74FF53;
                    }
                }
                .owl-nav button.owl-next {
                    position: absolute;
                    top: 6px;
                    right: 12px;
                    font-size: 40px;
                    height: 35px;
                    line-height: 35px;
                    overflow: hidden;
                    outline: 0;
                }
                .owl-nav button.owl-prev {
                    display: none;
                }
            }
        }
        .conversation_area {
            .header {
                padding: 0 30px 10px;
            }
            .conversation_all {
                height: 360px;
                overflow-y: auto;
                .conversation {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 30px;
                    color: $white;
                    text-decoration: none;
                    transition: all .2s;
                    &:hover {
                        background: #047154;
                    }
                    .left {
                        display: flex;
                        align-items: center;
                        .image {
                            position: relative;
                            margin-right: 10px;
                            img {
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                            }
                            span {
                                position: absolute;
                                left: 6px;
                                top: 0;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background: #AEAEAE;
                            }
                            .online {
                                background: #74FF53;
                            }
                        }
                        .content {
                            h6 {
                                margin-bottom: 4px;
                            }
                            p {
                                margin: 0;
                                font-size: 12px;
                            }
                        }
                    }
                    .right {
                        p {
                            margin: 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .chat_area {
        background: #FAFAFA;
        .header {
            padding: 10px 30px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba($green, .4);
            .image {
                position: relative;
                margin-right: 10px;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                span {
                    position: absolute;
                    top: 0;
                    left: 6px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #AEAEAE;
                }
                .online {
                    background: #74FF53;
                }
            }
            .content {
                h5 {
                    font-size: 16px;
                    color: $green;
                    font-weight: 700;
                    margin-bottom: 4px;
                }
                h6 {
                    margin-bottom: 4px;
                    font-size: 12px;
                    color: #AEAEAE;
                }
                p {
                    margin: 0;
                    font-size: 11px;
                    color: #AEAEAE;
                }
            }
        }
        .chat_box {
            height: 543px;
            overflow-y: auto;
            .left {
                padding: 5px 30px;
                .content {
                    .message_text {
                        background: #E3F2EE;
                        font-size: 13px;
                        padding: 2px 8px;
                        border-radius: 2px;
                    }
                    .time {
                        margin: 4px 0 0;
                        font-size: 11px;
                        color: #AEAEAE;
                    }
                }
            }
            .right {
                padding: 5px 30px;
                .content {
                    text-align: right;
                    .message_text {
                        background: #03A87C;
                        color: $white;
                        font-size: 13px;
                        padding: 2px 8px;
                        border-radius: 2px;
                    }
                    .time {
                        margin: 4px 0 0;
                        font-size: 11px;
                        color: #AEAEAE;
                    }
                }
            }
        }
        .chat_action {
            background: $white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            textarea {
                width: 100%;
                padding: 10px;
                font-size: 14px;
                border: 0;
                outline: 0;
            }
            .right_action {
                display: flex;
                align-items: center;
                .imoji {
                    color: #AEAEAE;
                    width: 14px;
                    height: 20px;
                    display: block;
                    margin-right: 15px;
                    margin-left: 10px;
                    transition: all .2s;
                    &:hover {
                        color: $black;
                    }
                }
                .file {
                    color: #AEAEAE;
                    width: 14px;
                    height: 20px;
                    display: block;
                    margin-right: 15px;
                    transition: all .2s;
                    label {
                        cursor: pointer;
                    }
                    input {
                        display: none;
                    }
                    &:hover {
                        color: $black;
                    }
                }
                .submit {
                    color: #AEAEAE;
                    width: 14px;
                    height: 20px;
                    display: block;
                    transition: all .2s;
                    label {
                        cursor: pointer;
                    }
                    button {
                        display: none;
                    }
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}


// responsive
@media (max-width: 992px) {
    .message_board {
        aside {
            hr {
                margin-bottom: 0;
            }
            .conversation_area {
                display: none;
            }
        }
    }
}