@import 'partials/color';
@import 'partials/mixins';



// color area
/* green */
.chat_green {
    .message_content .header {
        background: #2ACBA4 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #2ACBA4 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #2ACBA4 !important;
    }
}
/* blue */
.chat_blue {
    .message_content .header {
        background: #2879B8 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #2879B8 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #2879B8 !important;
    }
}
/* orange */
.chat_orange {
    .message_content .header {
        background: #F27B21 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #F27B21 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #F27B21 !important;
    }
}
/* red */
.chat_red {
    .message_content .header {
        background: #EF3936 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #EF3936 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #EF3936 !important;
    }
}
/* yellow */
.chat_yellow {
    .message_content .header {
        background: #F8EF26 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #F8EF26 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #F8EF26 !important;
    }
}
/* lime */
.chat_lime {
    .message_content .header {
        background: #A3CD3B !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #A3CD3B !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #A3CD3B !important;
    }
}
/* turquoise */
.chat_turquoise {
    .message_content .header {
        background: #14ADAA !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #14ADAA !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #14ADAA !important;
    }
}
/* pink */
.chat_pink {
    .message_content .header {
        background: #F499C2 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #F499C2 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #F499C2 !important;
    }
}
/* magenta */
.chat_magenta {
    .message_content .header {
        background: #D0256B !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #D0256B !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #D0256B !important;
    }
}
/* purple */
.chat_purple {
    .message_content .header {
        background: #613E98 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #613E98 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #613E98 !important;
    }
}
/* cream */
.chat_cream {
    .message_content .header {
        background: #F1D69F !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #F1D69F !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #F1D69F !important;
    }
}
/* chocolate */
.chat_chocolate {
    .message_content .header {
        background: #513422 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #513422 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #513422 !important;
    }
}
/* silver */
.chat_silver {
    .message_content .header {
        background: #A9B4BA !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #A9B4BA !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #A9B4BA !important;
    }
}
/* cobalt */
.chat_cobalt {
    .message_content .header {
        background: #183159 !important;
    }
    .message_content .chat_box .right .content .message_text {
        background: #183159 !important;
    }
    .message_content .chat_action .right_action .submit {
        color: #183159 !important;
    }
}
/* color area end */



/* message start */
.message {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    img {
        width: 40px;
        transition: all .2s;
    }
    &:hover {
        img {
            width: 50px;
        }
    }
}
/* message end */


/* message_content start */
.message_content {
    position: fixed;
    right: 30px;
    bottom: -100%;
    width: 320px;
    box-shadow: 0 0 20px 3px rgba($black, .3);
    border-radius: 4px;
    transition: all .3s;
    .header {
        display: flex;
        align-items: center;
        padding: 30px;
        background: linear-gradient(to right, #25665A, #06A279);
        position: relative;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        p {
            margin: 0;
            font-weight: 17px;
            font-weight: 700;
            color: $white;
        }
        .message_close {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
            height: 20px;
            line-height: 23px;
            border-radius: 50%;
            cursor: pointer;
            color: #ffffff;
            text-align: center;
            font-size: 12px;
            background: rgba($black, .3);
            transition: all .2s;
            &:hover {
                color: rgba($white, .6);
            }
        }
    }
    .chat_box {
        height: 400px;
        overflow-y: auto;
        background: #fafafa;
        .left {
            padding: 5px 30px;
            .content {
                .message_text {
                    background: #E3F2EE;
                    font-size: 13px;
                    padding: 2px 8px;
                    border-radius: 2px;
                }
                .time {
                    margin: 4px 0 0;
                    font-size: 11px;
                    color: #AEAEAE;
                }
            }
        }
        .right {
            padding: 5px 30px;
            .content {
                text-align: right;
                .message_text {
                    background: #03A87C;
                    color: $white;
                    font-size: 13px;
                    padding: 2px 8px;
                    border-radius: 2px;
                }
                .time {
                    margin: 4px 0 0;
                    font-size: 11px;
                    color: #AEAEAE;
                }
            }
        }
    }
    .chat_action {
        background: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 0;
            outline: 0;
        }
        .right_action {
            display: flex;
            align-items: center;
            .imoji {
                color: #AEAEAE;
                width: 14px;
                height: 20px;
                display: block;
                margin-right: 15px;
                margin-left: 10px;
                transition: all .2s;
                &:hover {
                    color: $black;
                }
            }
            .file {
                color: #AEAEAE;
                width: 14px;
                height: 20px;
                display: block;
                margin-right: 15px;
                transition: all .2s;
                label {
                    cursor: pointer;
                }
                input {
                    display: none;
                }
                &:hover {
                    color: $black;
                }
            }
            .submit {
                color: $green;
                width: 14px;
                height: 20px;
                display: block;
                transition: all .2s;
                label {
                    cursor: pointer;
                }
                button {
                    display: none;
                }
                &:hover {
                    color: rgba($green, .7);
                }
            }
        }
    }
}
.message_content_show {
    bottom: 30px;
}
@media screen and (max-width: 480px) {
    .message {
        right: 10px;
    }
    .message_content {
        right: 0;
    }
}
/* message_content end */
