@import 'partials/color';
@import 'partials/mixins';

// modal master design
.onload_modal {
    .modal-content {
        border: 0;
    }
    .modal-body {
        padding: 0;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        .modal_close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            line-height: 23px;
            border-radius: 50%;
            background: $white;
            text-align: center;
            font-size: 12px;
            transition: all .2s;
            z-index: 99;
            &:hover {
                opacity: .9;
            }
        }
    }
}



/* color area start  */
/* text_dark */
.p_text_dark {
    h3 {
        color: $black !important;
    }
    .modal_button {
        color: $black !important;
    }
}
/* text_dark */
.p_text_light {
    h3 {
        color: $white !important;
    }
    .modal_button {
        color: $white !important;
    }
}

// color area
/* green */
.p_green {
    .modal_close {
        color: #2ACBA4;
    }
    .modal_header {
        background: #2ACBA4;
    }
    .modal_header_with_img::after {
        background: rgba( #2ACBA4, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #2ACBA4;
    }
    .header_text {
        color: #2ACBA4;
    }
    .modal_button {
        background: #2ACBA4;
    }
}
/* blue */
.p_blue {
    .modal_close {
        color: #2879B8;
    }
    .modal_header {
        background: #2879B8;
    }
    .modal_header_with_img::after {
        background: rgba( #2879B8, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #2879B8;
    }
    .header_text {
        color: #2879B8;
    }
    .modal_button {
        background: #2879B8;
    }
}
/* orange */
.p_orange {
    .modal_close {
        color: #F27B21;
    }
    .modal_header {
        background: #F27B21;
    }
    .modal_header_with_img::after {
        background: rgba( #F27B21, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #F27B21;
    }
    .header_text {
        color: #F27B21;
    }
    .modal_button {
        background: #F27B21;
    }
}
/* red */
.p_red {
    .modal_close {
        color: #EF3936;
    }
    .modal_header {
        background: #EF3936;
    }
    .modal_header_with_img::after {
        background: rgba( #EF3936, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #EF3936;
    }
    .header_text {
        color: #EF3936;
    }
    .modal_button {
        background: #EF3936;
    }
}
/* yellow */
.p_yellow {
    .modal_close {
        color: #F8EF26;
    }
    .modal_header {
        background: #F8EF26;
    }
    .modal_header_with_img::after {
        background: rgba( #F8EF26, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #F8EF26;
    }
    .header_text {
        color: #F8EF26;
    }
    .modal_button {
        background: #F8EF26;
    }
}
/* lime */
.p_lime {
    .modal_close {
        color: #A3CD3B;
    }
    .modal_header {
        background: #A3CD3B;
    }
    .modal_header_with_img::after {
        background: rgba( #A3CD3B, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #A3CD3B;
    }
    .header_text {
        color: #A3CD3B;
    }
    .modal_button {
        background: #A3CD3B;
    }
}
/* turquoise */
.p_turquoise {
    .modal_close {
        color: #14ADAA;
    }
    .modal_header {
        background: #14ADAA;
    }
    .modal_header_with_img::after {
        background: rgba( #14ADAA, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #14ADAA;
    }
    .header_text {
        color: #14ADAA;
    }
    .modal_button {
        background: #14ADAA;
    }
}
/* pink */
.p_pink {
    .modal_close {
        color: #F499C2;
    }
    .modal_header {
        background: #F499C2;
    }
    .modal_header_with_img::after {
        background: rgba( #F499C2, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #F499C2;
    }
    .header_text {
        color: #F499C2;
    }
    .modal_button {
        background: #F499C2;
    }
}
/* magenta */
.p_magenta {
    .modal_close {
        color: #D0256B;
    }
    .modal_header {
        background: #D0256B;
    }
    .modal_header_with_img::after {
        background: rgba( #D0256B, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #D0256B;
    }
    .header_text {
        color: #D0256B;
    }
    .modal_button {
        background: #D0256B;
    }
}
/* purple */
.p_purple {
    .modal_close {
        color: #613E98;
    }
    .modal_header {
        background: #613E98;
    }
    .modal_header_with_img::after {
        background: rgba( #613E98, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #613E98;
    }
    .header_text {
        color: #613E98;
    }
    .modal_button {
        background: #613E98;
    }
}
/* cream */
.p_cream {
    .modal_close {
        color: #F1D69F;
    }
    .modal_header {
        background: #F1D69F;
    }
    .modal_header_with_img::after {
        background: rgba( #F1D69F, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #F1D69F;
    }
    .header_text {
        color: #F1D69F;
    }
    .modal_button {
        background: #F1D69F;
    }
}
/* chocolate */
.p_chocolate {
    .modal_close {
        color: #513422;
    }
    .modal_header {
        background: #513422;
    }
    .modal_header_with_img::after {
        background: rgba( #513422, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #513422;
    }
    .header_text {
        color: #513422;
    }
    .modal_button {
        background: #513422;
    }
}
/* silver */
.p_silver {
    .modal_close {
        color: #A9B4BA;
    }
    .modal_header {
        background: #A9B4BA;
    }
    .modal_header_with_img::after {
        background: rgba( #A9B4BA, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #A9B4BA;
    }
    .header_text {
        color: #A9B4BA;
    }
    .modal_button {
        background: #A9B4BA;
    }
}
/* cobalt */
.p_cobalt {
    .modal_close {
        color: #183159;
    }
    .modal_header {
        background: #183159;
    }
    .modal_header_with_img::after {
        background: rgba( #183159, .75);
        mix-blend-mode: multiply;
    }
    .modal_img_shape {
        background: #183159;
    }
    .header_text {
        color: #183159;
    }
    .modal_button {
        background: #183159;
    }
}
/* color area end */



/* theme 01 start */
/* modal_01 */
.modal_01 {
    .modal_header {
        padding: 25px 15px;
        margin: 0;
        h3 {
            margin: 0;
            text-align: center;
            font-weight: 700;
        }
    }
    .main_body {
        background: #393E46;
        padding: 30px 15px 25px;
        h6 {
            color: $white;
            text-align: center;
            margin-bottom: 30px;
        }
        input {
            max-width: 300px;
            width: 100%;
            height: 35px;
            margin: 0 auto;
            display: block;
            padding: 0 15px;
            font-size: 13px;
            border: 0;
            outline: 0;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        .modal_button {
            width: 110px;
            height: 30px;
            line-height: 32px;
            display: block;
            margin: 0 auto;
            border: 0;
            outline: 0;
            border-radius: 4px;
            margin-bottom: 15px;
            font-weight: 700;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                opacity: .9;
            }
        }
        p {
            text-align: center;
            color: $white;
            font-size: 13px;
            margin: 0;
        }
    }
}
/* theme 01 end */


/* theme 02 start */
/* modal_02 */
.modal_02 {
    .modal_header_with_img {
        margin: 0;
        min-height: 80px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        background: url(../images/popup_bg/1.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        h3 {
            margin: 0;
            width: 100%;
            text-align: center;
            font-weight: 700;
            z-index: 2;
        }
    }
    .main_body {
        background: #393E46;
        padding: 30px 15px 25px;
        h6 {
            color: $white;
            text-align: center;
            margin-bottom: 30px;
        }
        input {
            max-width: 300px;
            width: 100%;
            height: 35px;
            margin: 0 auto;
            display: block;
            padding: 0 15px;
            font-size: 13px;
            border: 0;
            outline: 0;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        .modal_button {
            width: 110px;
            height: 30px;
            line-height: 32px;
            display: block;
            margin: 0 auto;
            border: 0;
            outline: 0;
            border-radius: 4px;
            margin-bottom: 15px;
            font-weight: 700;
            cursor: pointer;
            transition: all .2s;
            &:hover {
                opacity: .9;
            }
        }
        p {
            text-align: center;
            color: $white;
            font-size: 13px;
            margin: 0;
        }
    }
}
/* theme 02 end */


/* theme 03 start */
/* modal_03 */
.modal_03 {
    background: #393E46;
    .modal_img_shape {
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 250px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .main_body {
        background: #393E46;
        padding: 30px 15px 25px;
        .header_text {
            font-weight: 700;
            font-size: 23px;
            margin-bottom: 25px;
            text-align: center;
        }
        h6 {
            margin-bottom: 35px;
            color: $white;
            font-size: 15px;
            text-align: center;
        }
        .modal_button {
            width: 180px;
            height: 30px;
            line-height: 32px;
            font-size: 14px;
            display: block;
            margin: 0 auto;
            border-radius: 15px;
            margin-bottom: 15px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            transition: all .2s;
            &:hover {
                opacity: .9;
            }
        }
    }
}
/* theme 03 end */


/* theme 04 start */
/* modal_04 */
.modal_04 {
    @extend .modal_01;
    .main_body {
        background: #edeff3;
        h6 {
            color: $black;
        }
        p {
            color: $black;
        }
    }
}
/* theme 04 end */


/* theme 05 start */
/* modal_05 */
.modal_05 {
    @extend .modal_02;
    .main_body {
        background: #edeff3;
        h6 {
            color: $black;
        }
        p {
            color: $black;
        }
    }
}
/* theme 05 end */


/* theme 06 start */
/* modal_06 */
.modal_06 {
    @extend .modal_03;
    background: #edeff3;
    .main_body {
        background: #edeff3;
        h6 {
            color: $black;
        }
    }
}
/* theme 06 end */