@import 'partials/color';
@import 'partials/mixins';


/* team style start */
.team {
    background: #f9f9ff;
    padding: 10.5rem 0 5rem;
    .section_heading {
        max-width: 700px;
        width: 100%;
        text-align: center;
        margin: 0 auto 4rem;
        h1 {
            font-weight: 600;
            color: $black;
        }
        p {
            color: lighten($black, 30%);
        }
    }
    figure {
        margin-bottom: 3rem;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 1.25rem;
        }
        figcaption {
            a {
                font-weight: 700;
                color: $black;
                text-decoration: none;
                transition: all .2s;
                font-size: 18px;
                &:hover {
                    color: $green;
                }
            }
            h5 {
                color: lighten($black, 10%);
                padding: .25rem 0;
                font-size: 16px;
            }
            .social {
                li {
                    display: inline-block;
                    padding: 0 5px;
                    a {
                        color: rgba($black, .3);
                        transition: all .3s;
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
    .modal-body {
        img {
            width: 150px;
            height: 150px;
            display: block;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 1.25rem;
        }
        h5 {
            font-weight: 700;
            text-align: center;
        }
        p {
            margin: 0;
        }
        .modal_close {
            position: absolute;
            top: 3px;
            right: 3px;
            background: rgba($black, .5);
            color: $white;
            width: 20px;
            height: 20px;
            line-height: 23px;
            font-size: 13px;
            border-radius: 50%;
            text-align: center;
            transition: all .2s;
            &:hover {
                background: rgba($black, .8);
            }
        }
    }
}
/* team style end */