@import 'partials/color';
@import 'partials/mixins';


/* terms_condition style start */
.terms_condition {
    background: #f9f9ff;
    padding: 10.5rem 0 5rem;
    .section_heading {
        max-width: 700px;
        width: 100%;
        text-align: center;
        margin: 0 auto 4rem;
        h1 {
            font-weight: 600;
            color: $black;
        }
        p {
            color: lighten($black, 30%);
        }
    }
    .main_area {
        li {
            list-style-type: decimal;
            list-style-position: inside;
            margin-bottom: 10px;
        }
    }
}
/* terms_condition style end */