@import 'partials/color';
@import 'partials/mixins';

.theme_btn {
    margin-bottom: 20px;
    .theme_btn_link {
        display: inline-block;
        padding: 5px 20px;
        font-size: 14px;
    }
    // for btn_01
    .btn_01 {
        background: #F9A828;
        color: $white;
        border-radius: 4px;
    }
    // for btn_02
    .btn_02 {
        background: #2ACBA4;
        color: $white;
        border-radius: 20px;
    }
    // for btn_03
    .btn_03 {
        background: #317AE1;
        color: $white;
        border-radius: 4px;
    }
    // for btn_04
    .btn_04 {
        background: #A82FFC;
        color: $white;
    }
    // for btn_05
    .btn_05 {
        background: #393E46;
        color: $white;
        border-radius: 20px;
    }
    // for btn_06
    .btn_06 {
        background: $white;
        color: $black;
        border-radius: 20px;
        border: 1px solid rgba($black, .5);
    }
}


/* color area start  */
/* text_dark */
.btn_text_dark {
    color: $black !important;
}
/* text_dark */
.btn_text_light {
    color: $white !important;
}

// color area
/* green */
.btn_green {
    background: #2ACBA4 !important;
}
/* blue */
.btn_blue {
    background: #2879B8 !important;
}
/* orange */
.btn_orange {
    background: #F27B21 !important;
}
/* red */
.btn_red {
    background: #EF3936 !important;
}
/* yellow */
.btn_yellow {
    background: #F8EF26 !important;
}
/* lime */
.btn_lime {
    background: #A3CD3B !important;
}
/* turquoise */
.btn_turquoise {
    background: #14ADAA !important;
}
/* pink */
.btn_pink {
    background: #F499C2 !important;
}
/* magenta */
.btn_magenta {
    background: #D0256B !important;
}
/* purple */
.btn_purple {
    background: #613E98 !important;
}
/* cream */
.btn_cream {
    background: #F1D69F !important;
}
/* chocolate */
.btn_chocolate {
    background: #513422 !important;
}
/* silver */
.btn_silver {
    background: #A9B4BA !important;
}
/* cobalt */
.btn_cobalt {
    background: #183159 !important;
}
/* color area end */